[2019-04-09 00:49] JimmyMow opened #3 "Can't read Yalls payment request"
For some reason, my app can't read yalls.org payment request. Starblocks works fine. Anyone else seeing this issue?

[2019-04-09 06:03] michaelWuensch commented on #3
Thanks for reporting. Yalls encoded their QR-Code using upper case, which is now supported.
e239b980b4f9ea32a683988a92d666e1084ee76e

[2019-04-09 06:03] #3 closed

[2019-04-11 23:56] JimmyMow opened #6 "Sending any payment results in FinalExpiryTooSoon error"
For some reason, I seem to be getting `FinalExpiryTooSoon` when trying to make a payment. I know this error is not my node itself because I'm able to make the payment from Zap Desktop

[2019-05-01 20:37] JimmyMow opened #7 "Support lightning links"
Right now the app does not support `lightning:` links when I'm browsing through Chrome on my Android.

Ideally, when I click a `lightning:` link (yalls.org article), my Android offers to open Zap and then Zap opens up the pay form to make make the payment

[2019-05-03 07:34] michaelWuensch opened #8 "Device based salt"
Right now we just use a predefined salt for PIN hashing. To protect against rainbow tables we should move to a device based salt.

[2019-05-03 07:36] michaelWuensch opened #9 "Key stretching function for pin hashing"
The hashing of the pin should also include a key stretching function to provide some more protection against brute force attacks.

[2019-05-03 07:41] michaelWuensch opened #10 "Show pending channels in channel management"
Right now only open channels are shown in the list. Also show pending ones.

[2019-05-03 07:43] michaelWuensch opened #11 "Create a backup flow"
We need a backup flow to implement the static channel backups (SCB) from LND.
We could do this with google drive or dropbox, or both.

[2019-05-03 07:45] michaelWuensch opened #12 "Make LND run on smartphone with neutrino"
Remote controlling a node is nice, but we want this to work directly on the smartphone using neutrino.

[2019-05-04 08:53] #6 closed, assigned to michaelWuensch

[2019-05-07 14:31] JimmyMow opened #13 "Use circle icons for pin instead of bolts"
I think we should keep consistent with our other applications and use the standard circle icon for entering a pin instead of the current Lightning bolts

[2019-05-09 14:03] JimmyMow opened #14 "Remote node connection error"
If the `getInfo` call returns nothing we show the wallet UI as offline right now. This isn't the best as it doesn't let the end user know their `lndconnect` info may be bad.

We should instead throw an error to the user and not advance them to the wallet UI

[2019-05-10 14:29] #7 closed, assigned to michaelWuensch

[2019-05-10 20:39] #14 closed, assigned to nobody

[2019-05-10 20:40] #13 closed, assigned to nobody

[2019-05-11 14:23] #10 closed, assigned to nobody

[2019-05-18 00:07] JimmyMow opened #15 "Change "Invoice Payed" to Invoice Paid"
Right now when receiving an LN payment the app shows a notification that says `Invoice Payed` which should be `Invoice Paid`.

[2019-05-18 00:09] JimmyMow opened #16 "Remove ZAP from upper left nav bar"
I'd be curious to hear others opinion, but I think we should remove the uppercase `ZAP` next to the logo in the top left of the app. We don't uppercase Zap within our other wallets and I think it would be cleaner if we just used the logo there.

What do you think @michaelWuensch?

[2019-05-18 00:16] JimmyMow opened #17 "Better can't connect to node error handling"
I tested the new error message when trying to connect to a remote node by pasting in poor `lndconnect` data. It worked great!

I think an improvement would be displaying the error, not in the wallet UI. In order for me to try again (inputting lndconnect data) I had to go to `Settings` -> `Reset` -> `Setup remote node`. Maybe instead we display the error in the initial setup screen?

[2019-05-18 00:17] JimmyMow opened #18 "Replace policy with Zap policy"
Should we replace the current policy with the policy at http://zap.jackmallers.com/privacy?

[2019-05-18 11:44] #16 closed, assigned to nobody

[2019-05-18 11:44] #15 closed, assigned to nobody

[2019-05-18 15:20] michaelWuensch opened #19 "The Bitcoin Symbol is not displayed on API < 26"
We might have to consider going back to BTC or we have to find an other solution, that works for all API levels.

[2019-05-18 20:43] #8 closed, assigned to nobody

[2019-05-18 20:44] #9 closed, assigned to nobody

[2019-05-23 06:34] #19 closed, assigned to nobody

[2019-05-30 19:51] JimmyMow opened #20 "Add screenshot to README"
On the Desktop and iOS README we have a screenshot of the app. Can we add a screenshot to the Android README too?

[2019-05-31 03:41] #20 closed, assigned to nobody

[2019-06-07 10:06] #18 closed, assigned to nobody

[2019-06-07 10:13] michaelWuensch opened #21 "Add ability to open and close channels manually"

[2019-06-07 10:14] michaelWuensch opened #22 "Add option to change on-chain fee"

[2019-06-07 10:16] michaelWuensch opened #23 "Add channel summary on channels page"

[2019-06-07 10:20] michaelWuensch opened #24 "Display details for history list items"
Detailed information has to be shown when clicked on an element.
The information that is shown depends on the type of transaction.

[2019-06-07 19:44] michaelWuensch opened #25 "Support management of multiple wallets in Zap android"
The user should be able to create and manage more than one wallet with Zap.
For example a wallet running directly on the phone and a wallet on a node that is remote controlled with Zap. There has to be a easy way to switch between wallets without overcomplicating the UI for all the users that just have one wallet.

[2019-06-08 15:49] michaelWuensch opened #26 "Unlock app with biometrics"

[2019-06-08 15:49] michaelWuensch opened #27 "Visualize syncing process"

[2019-06-10 18:58] ErwanLetard opened #28 "Adress copied to clipboard"
Hey, First thank you for your amazing app !
Currently testing it and noticed a small issue.
When you copy a payment request to your clipboard it add "lightning: ...." in front of it and this generates errors on automatic payment requests (lightning roulette for ex)
Is that removable ?

[2019-06-10 20:43] michaelWuensch commented on #28
Hi Erwan,
thanks for reporting.
It can of course be removed, but I am not sure if we actually should do it. In other cases it is desired to have "lightning: ..." in front in order to work as URI Scheme.
I think the ideal solution would be that lightning roulette adds support for lightning invoices with and without "lightning:" in front.

Other opinions?

[2019-06-10 20:47] ErwanLetard commented on #28
100% agree. Not sure how this is "usually" done.
I will contact lightning roulette, see if they can add "lightning" as an optional chain in front of the request.
Thank you

[2019-06-11 07:10] Kixunil commented on #25
This would help me a lot - I could manage my own finances as well as finances of organization I'm involved in.

[2019-06-11 07:23] Kixunil opened #30 "Zap crashes right after scanning QR code/entering PIN"
I've submitted this via "Feedback" feature of Android, but I'd like to give a more detailed information here as well as have bidirectional communication.

Description of the issue
------------------------------

When the QR code is scanned, the application crashes immediately. After re-opening and entering the PIN, it crashes again.

Environment
----------------

Phone: Google Pixel 3
Android vers

[2019-06-11 07:33] Kixunil opened #31 "Do not require PIN"
Allow the user to disable PIN. While this seems like decreasing security, additional PIN is just annoyance in case the user has the phone locked with strong passphrase already. If the attacker can somehow interact with the application using malware, it's highly likely that the PIN won't help.

Also in practice (and we have a lot of practical experience with users in Paralelna Polis) the users are

[2019-06-11 17:05] michaelWuensch commented on #30
Hi, thanks for reporting.
I will have a look at it.
In the meantime you can help me by answering some questions:
- What version is your LND?
- Did you get it running with a lnd connect string created with a different approach than you described?
- Are you sure the string you copied follows this scheme:
  _lndconnect://[host]:[port]?cert=[base64url  certifcate]&macaroon=[base64url macaroon]_
- Does

[2019-06-11 17:35] michaelWuensch commented on #31
Thanks for your input!

People will not lose access to their funds if they forget the PIN. They can still recover their funds using the Mnemonic Seed.

Even if we can detect if the phone is secured by a passphrase or something similar, we can not detect if that one is safe or if for example "0000" is used.

I think though we could make it like this:
On the screen where you have to create the PIN t

[2019-06-11 19:37] pretyflaco opened #32 "Zap-Android cannot connect to BTCPayServer: Invalid Connection Information"
**Description of the issue**
BTCPay exposes LND's GRPC service for outside consumption. It allows to connect external software, like Zap Android or Pebble Wallet, via QR Code. When scanned with Zap Android, app returns "Invalid Connection Information"

**Environment**
Device: OnePlus 3
Android Version: 9
BTCPayServer Version: 1.0.3.114
LND Version: 0.6.1-beta
QR Code created using BTCPayServer UI

[2019-06-11 20:06] michaelWuensch commented on #32
Thanks for your report.
BTC Pay server connection is not yet supported. We hope to implement it as soon as possible.

[2019-06-12 06:35] michaelWuensch commented on #30
From what I can see from your PR you linked to, you have this format:

lndconnect://example.com?cert=...

The port is missing here.
Anyway if this is the reason, I still have to make better error handling. The App should of course not crash.

[2019-06-12 09:20] Kixunil commented on #30
* 0.6.0-beta
* I didn't since I wanted to avoid dependencies
* Yes I'm sure
* I tried with both port omitted and not omitted. It crashes in both cases.

[2019-06-12 09:22] Kixunil commented on #31
Yes, that sounds reasonable.

[2019-06-13 23:55] Relaxo143 opened #33 "Error unable to find path to destination when in reality there is a path"
I love the interface of Zap, but it says a payment cannot be made because there's no route. When I tried the exact same invoice with Shango wallet (Another wallet that connects with LND) it went through no problem. Besides, the qr scanner is horrible. It takes ages to recognize a qr code and you have to be very still.

[2019-06-14 02:35] 05nelsonm opened #34 "User opt out for connections to blockchain.info for data queries"
Would prefer use of a different source for price data and what not. Currently blocking the connection using NetGuard, but would like it if I did not have to.

Or at least give the ability to connect through tor via the Orbot app in order to obfuscate our IP addresses.

[2019-06-14 03:36] 05nelsonm opened #35 "Tor Support"
Adding tor support via the Orbot app would be awesome and would allow for easier connections to personal nodes via hidden services, as well as obfuscation of mobile IP addresses when the app queries blockchain.info for Bitcoin data.

[2019-06-14 04:59] michaelWuensch commented on #33
Hi, thanks for your report.

Is your Shango App connected to the SAME LND node as Zap?
Using the same Invoice ensures you have the same destination in the network. But if you have a different starting point it of course have to find another route, which is then not really comparable.

About the QR scanner. It works quite well for me, I guess you are to close, trying to fill the white area. It work

[2019-06-14 05:23] michaelWuensch commented on #34
Hi,
which price sources would you prefer?

If you also choose a bitcoin unit as your second unit, there is no need to ask for fiat prices. But right now it still does. I will fix that. So this will be your way to opt out in the next version.

[2019-06-14 05:27] michaelWuensch commented on #35
It is planned, but realistically not going to happen soon. Unless someone other than me is implementing it. ;-)

[2019-06-14 05:28] michaelWuensch commented on #26
Just in case someone wants to implemnt this...
I am already working on it.

[2019-06-14 05:56] michaelWuensch commented on #34
See my latest commit 92fd4bda2ed2ded45378af35df1b5fe91487bc2d

[2019-06-14 06:33] michaelWuensch commented on #30
Hi,
I was able to reproduce this.
The way you created your connect string encodes the tls and macaroon in Base64 while lndconnect encodes in Base64URL.
We only support the format from lndconnect.
I will try to make better error handling though instead of crashing the app. :)

[2019-06-14 07:42] michaelWuensch commented on #30
3b7a81bcd0c94e86291d7db72e14e3fceabe562c
I fixed the error handling.
Now you get a "Invalid connection information" message when trying to scan your qr code instead of an app crash.
The fix will be in the next update.
Please note that you unfortunately have to uninstall and reinstall your app to initiate a new connection, as it now has saved the "corrupt" data and will always crash on reading it.

[2019-06-14 07:42] #30 closed

[2019-06-14 07:50] Relaxo143 commented on #33
It is the same LND node on the same machine. Both zap and shango show the same balance in sats so I'm sure it's the same node. I don't have any other nodes anyway. I think I tried it both close and further away but I'll see again. Thank you for your amazing work by the way!

[2019-06-14 08:04] Relaxo143 commented on #33
By the way, I tried paying the invoice through the windows desktop zap wallet and it worked. It seems to be a problem with the mobile app.

[2019-06-14 08:28] mrfelton commented on #34
FYI, we are just adding this into the desktop app (see https://github.com/LN-Zap/zap-desktop/pull/2424). We chose to support price feeds from:

- coinbase
- bitastamp
- kraken
- bitfinex

[2019-06-14 11:00] 05nelsonm commented on #34
I would love the 2nd unit being bitcoin to not proc the connection. That is smart AF, man, and quite slick.

[2019-06-14 11:02] 05nelsonm commented on #35
I wish I knew how to code so I could help with it... learning, though!

[2019-06-14 15:40] michaelWuensch commented on #22
@maraph is taking care of this

[2019-06-15 06:13] michaelWuensch commented on #34
Just wanted to let you know. The new version is out! If both units are bitcoin units (for example BTC and sat) the app will no longer initiate any exchangerate requests.

[2019-06-15 12:08] 05nelsonm commented on #34
Love it!

This app is super nice btw... Great work, man!

[2019-06-15 14:53] pieman64 commented on #32
@michaelWuensch we are also looking forward to BTC Pay server support.

[2019-06-15 18:19] 05nelsonm opened #36 "lnd not getting new blocks from bitcoind after using Zap Android. possible rpc overload?"
Thought it was docker lag causing lnd to miss new blocks as they came in at first, but after some testing I found it's got something to do with accessing lnd remotely and making rpc calls to it that seems to be hanging up communication between bitcoind and lnd clients. Initially opened a ticket over at lightningnetwrok/lnd, but am posting over here as well to link the 2. Might help with fixing.

h

[2019-06-16 13:49] Kixunil commented on #30
I missed the distinction between URL and non-URL. It's so small thing...

FYI, it's possible to remove application data in settings instead of reistalling the application.

Thanks for help!

[2019-06-16 13:56] Kixunil opened #37 "Provide details on failed connection"
Problem
-----------

It's very hard to determine the cause of failed connection.

Steps to reproduce
-------------------------

1. Generate a QR code with e.g. non-existing server, invalid port etc
2. Use the QR code to connect to the node
3. Observe error message

Expected behavior
------------------------

Error message with information on what exactly failed. I'd expect one of these messages:

[2019-06-16 19:07] michaelWuensch commented on #37
Hi,
Thanks for your input. Ease of use is one of the main priorities for Zap and the current message is definetly not very helpful.
Right now I am on a biking trip for two weeks without any access to a computer...
But when I am back, this will be one of the first things I will work on.

[2019-06-16 19:56] michaelWuensch commented on #36
Thanks for the report.
LND should be able to handle the requests, I Think. Switching between "History" and "Wallet" should only initiate 2 RPC calls everytime "Wallet" is pressed. So I guess it is unlikely to be an RPC overflow.
I hope the guys from LND will be able to track this down.

[2019-06-21 09:56] 05nelsonm commented on #36
Have been running bitcoind on host machine as opposed to in a Docker container for a while now without issue. Going to chalk it up to that and close the issue.

[2019-06-21 09:56] #36 closed

[2019-06-21 10:09] michaelWuensch commented on #36
Tahnks for the update!

[2019-06-22 23:25] sasquatchmuscle opened #39 "Unable to connect node on Android Q Beta 4"
When I try to connect the Android Zap (0.2.2-alpha) app to my desktop node using the QR code and paste method I am "unable to connect to LND".  I am on Android Q Beta 4 so I am suspecting this is probably the issue.

Love the work.

[2019-06-23 05:49] michaelWuensch commented on #39
Hi, thanks for the report.
I don't think Android Q beta 4 is causing the problem.
There could be different reasons for this.
For example:

- your LND Wallet has a password and is locked (right now you have to unlock the wallet manually from outside Zap Android.)

- your router blocks communication on port 10009. For example if everything is set up correctly and normally works, I still experience t

[2019-06-30 08:18] #22 closed

[2019-07-05 06:58] michaelWuensch opened #48 "Improve starting procedure after wallet unlock"
LND needs some time after unlocking a wallet until all RPC calls will be successfull.
Right now delays are used, so first calls to LND are made a few seconds after the wallet is unlocked.
This can be improved by determining when it is safe to do those requests.

[2019-07-07 10:03] michaelWuensch commented on #17
The error messages are much more detailed now.

[2019-07-07 10:17] michaelWuensch commented on #37
The error messages are much more detailed now and will be in the next release.
On connecting with a QR-Code the lndconnect string is tested for validity in means of syntax and general plausibility, but not if the macaroon for example is actually giving you the permission.
At this stage the following errors can be thrown: ( they are more descirptive, I just shortended them here)
- invalid host or p

[2019-07-07 17:12] michaelWuensch commented on #39
The error messages are much more detailed now and will be in the next release.
On connecting with a QR-Code the lndconnect string is tested for validity in means of syntax and general plausibility, but not if the macaroon for example is actually giving you the permission.
At this stage the following errors can be thrown: ( they are more descirptive, I just shortended them here)
- invalid host or p

[2019-07-08 20:03] #17 closed

[2019-07-09 17:18] #32 closed

[2019-07-09 18:13] maraph commented on #32
@pretyflaco @pieman64

We have released the newest Zap version **0.2.3-alpha** to the PlayStore. 🎉
Link: https://play.google.com/store/apps/details?id=zapsolutions.zap
Now, you should be able to connect to your BtcPay Server.

You are able to use the QR-Code, the `config=` url scheme or the full configuration.
Feedback is as always very welcome! 💬 👍

[2019-07-09 18:21] pieman64 commented on #32
Tried updated app earlier today. All the QR codes I could find for BTCPay failed.

[2019-07-09 20:27] michaelWuensch commented on #32
Thanks for testing. We are sorry you still have problems, it worked on our test systems. Can you give more context?
What is the error message you see?

[2019-07-09 21:32] pieman64 commented on #32
@michaelWuensch when I scan the QR code it shows as not compatible.

I am using c-lightning with BTCPay as my node is tied to some Lapps. Does your integration only work for LND implementation of Lightning? If so do you have plans to support c-lightning?

[2019-07-09 21:43] michaelWuensch commented on #32
Yes, that is the reason, we only support LND so far.
We might support c-lightning some day, but this is probably far in the future.

[2019-07-10 18:41] michaelWuensch commented on #37
The new version is out! Hope this helps :)

[2019-07-10 18:41] #37 closed

[2019-07-10 18:43] michaelWuensch commented on #39
The new version is live.
Can update to 0.2.3-alpha and see if you get it to work / what error message is displayed?

[2019-07-12 21:06] michaelWuensch commented on #33
We most likely found the issue and it will be fixed in the next version!

[2019-07-13 03:48] sasquatchmuscle commented on #39
Still receiving this error.  It asks to connect to host then shows the following error.  Is there issues with being on pierres node launcher vs a nodl or casa?

![lnzap android error](https://user-images.githubusercontent.com/48186094/61166678-13f1c580-a4f7-11e9-829b-b364b97651a3.png)

[2019-07-13 12:21] Relaxo143 commented on #33
Thank you for the great work! What is the actual fee limit? I mean is there a protection so that I don't send 200 sats and pay 10k sats fee?

[2019-07-13 13:53] michaelWuensch commented on #33
Well we query routs before you send something. This way we can calculate the fees and show the user the expected fee. We then set the maximum fee that was found as fee limit to ensure the user will not pay more than we stated in the beginning.
And the issue was caused by conversion from msats to sats. The limit was therefore actually fractions of a sat to low.

[2019-07-16 19:49] JimmyMow commented on #39
@sasquatchmuscle if you are running the Node Launcher I assume you are running it on your home network. You'll need to make sure you are port forwarding and that LND is accessible from wherever you're trying to access it

[2019-07-19 01:37] #39 closed

[2019-07-19 01:41] JimmyMow commented on #33
@Relaxo143, in the end, this was an error in our fee calculation on the network in combination with an error on how to use the LND API. We have pushed an update and this should be resolved now.

Can you update and confirm?

[2019-07-19 05:47] michaelWuensch commented on #39
Hi,
As you closed it, I think you figured it out. Nice!
Can you very short tell what was the problem / solution, so I can help others if they have this issue as well?

[2019-07-19 16:37] Relaxo143 commented on #33
I have updated and for now there are no errors. Though the problem appeared rarely so I can't tell for sure. Time will tell. If I experience the same issue again I will open another one here. Thank you for resolving the problem.

[2019-07-19 16:58] #33 closed

[2019-07-19 20:28] sasquatchmuscle commented on #39
I updated zap on android and it was the port forwarding issue.  All set, thanks for the help!

[2019-07-23 15:51] JimmyMow opened #59 "Update Manage Channels style to match other Zap clients"
Right now with Zap Android, the Channel Management view displays remote capacity with the white bar:

![Screenshot_2019-07-23-10-47-28](https://user-images.githubusercontent.com/4040039/61726616-881e3b80-ad37-11e9-96c4-1e07e252b7e1.png)

In Zap Desktop and Zap iOS, we specifically use this `blue` gradient to show remote capacity in many ways (headers up top, bars, etc):

<img width="901" alt="Scre

[2019-07-24 18:46] #59 closed

[2019-07-26 21:03] JimmyMow commented on #35
@michaelWuensch @maraph has anyone looked into this one? Something like Orbot?

[2019-07-26 21:22] 05nelsonm commented on #35
I think it's possible if zap app were to have settings that would allow it to utilize Orbot's proxy services @ 127.0.0.1:9050

Could setup a hidden service on the machine running LND node, and then just use in LND connect the .onion address.

Actually, I have some time tonight and will play around with it. Might be able to test it by running Orbot in VPN mode to force Zap to use Tor. Not sure if i

[2019-07-31 06:16] michaelWuensch commented on #35
@05nelsonm have you had any success?

[2019-07-31 17:32] 05nelsonm commented on #35
No I haven't. What I tried was to:

Create a hidden service by adding to my /etc/tor/torrc:
[code]

Restarted tor and then obtained the .onion address via:
`$ sudo cat /var/lib/tor/lnd-connect/hostname`

[Be sure to wait a bit for the .onion address to propagate throughout the Tor network]

Took my lnd-connect cert and replaced the ip address (127.0.0.1) with the .onion address

On my phone I enab

[2019-08-02 07:41] michaelWuensch commented on #35
@05nelsonm Thanks for the detailed results.
Unfortunately I have litteraly no experience with tor so far, that's why I cannot really help you.
I will have to look into this when we work on tor support.

What I do to establish the connection is building a channel with OKHttp.
[code]

So I guess, the question is if OkHttp can handle tor. But I don't know what Orbot is actually doing or if it helps h

[2019-08-03 07:36] zechendorf opened #67 "Minor: Force closing channel results in wrong total being displayed"
The total Satoshi's displayed is off, when force closing a channel.

## Description

I had to force close a channel (via Zap desktop) to a peer. That transaction (because of the timelock) is now - of course - in limbo until the timelock is passed. The Zap desktop still shows the correct total, but on the Zap Android wallet the total is missing the amount from my forced close.

It's a bug since it

[2019-08-03 07:37] zechendorf commented on #31
Perfect solution 👌

Would love that feature too!

[2019-08-03 15:06] maraph commented on #67
Hello @zechendorf,
thanks for reporting this issue. 🥇

We are going to investigate it and will keep you updated!

[2019-08-07 18:00] #26 closed

[2019-08-07 18:32] maraph commented on #67
Hey @zechendorf,

the fix has been merged and should be shipped within the next release.
Thank you for bringing it up 👏

[2019-08-07 20:49] michaelWuensch commented on #31
An update just got released that supports unlocking with biometrics (Fingerprint, Face recognition or Iris Scan).
This should reduce the friction a lot and add convenience to those who want to use it.

We decided against the possibility to completely remove protection. We are still dealing with real money and people should get used to deal with some basic security measures.

[2019-08-09 15:39] Kixunil commented on #31
This sounded very good and I proceeded to try this out. I lost excitement when I realized it's impossible to enable fingerprint authentication for Zap without enabling fingerprint authentication for the lock screen too. I definitely don't want to have fingerprint enabled for lock screen, but having another PIN for Zap seems unnecessary.

Would you reconsider your decision with this information in

[2019-08-10 11:15] zechendorf commented on #67
Thank you! Didn't expect it to get fixed this fast!

[2019-08-10 11:15] #67 closed

[2019-08-10 14:07] michaelWuensch commented on #31
Hi,
thanks for your feedback. I will keep the issue open and see what we can do.

[2019-08-12 13:39] 05nelsonm opened #79 "Add Blockstream's .onion address to Block Explorer list"
## Description
Add blockstream's v3 .onion address to the list of block explorers.

http://explorerzydxu5ecjrkwceayqybizmpjjznk5izmitf2modhcusuqlid.onion/

## Context

Promotes better privacy when users go to query TXs

## Possible Implementation

[2019-08-12 17:36] michaelWuensch commented on #79
#80

[2019-08-21 14:39] #79 closed

[2019-08-24 05:41] Jfigs101 opened #86 "unable to connect to remote node Zap 0.2.4-alpha"
Unable to connect to node via QR code or "paste" option

## Description
App does not scan QR code. The "paste" button returns error before upon clicking it, before entering any string:
Unsupported connection format.
Please use one of the following formats:
lndconnect string... (so on)

## Expected Behavior

App should recognize QR code or allow entry of lndconnect string.

## Actual Behavior

No r

[2019-08-24 08:13] michaelWuensch commented on #86
Hi Jfigs,
Thanks for your report.

To find out why it is not working we need to know a few things:
- what do you mean with "App does not scan QR code"? Does it show an error or not react at all?
- where do you get the QR Code from, which you are trying to scan?

There is no way the paste button will react before clicked on it. When clicking it, it checks your clipboard if it contains a valid conne

[2019-08-24 08:50] Jfigs101 commented on #86
Hi,

- It does not react at all.
- The QR code is being generated by the following steps:

1. To the right of "Channels", my zap shows "127.0.0.1", but I'm sure that can be different based on a name.
2. Click "Profile"
3. Click "Connect" on the ride side menu.

On the paste issue: Ok, understood. I thought that was a box that would then prompt you with a text book, not look at your clipboard direc

[2019-08-24 13:12] michaelWuensch commented on #86
yeah, that dude is actually me :)
Ok, I have tested with different devices and actually noticed That a Samsung S10 can't scan it, while a Samsung S9 can. Seems to be some kind of camera mode. I will look into this.

What you described above sounds like it should work. If you had created the wallet inside Zap Desktop "Connect" wouldn't even be exposed.

Have you tried to copy that connection info a

[2019-08-24 20:15] Jfigs101 commented on #86
I guess we can add that the s8 also has this problem.

I tried copying the information over, but receive a screen with the following:
Unable to connect to LND.
-Make sure the LND daemon is running on your server.
0make sure your port forwarding is active. (Port: 10009)
-make sure your certificate is valid.

[2019-08-24 21:35] TrabbipG commented on #86
I also can't connect to my raspberri pi node from the internet aswell. My router and node configuration should be fine, because it works when using Shango (which is also an android app to connect to your own ln node).
It does work fine when I replace my public ip with my nodes lan ip and connect from within the network.

[2019-09-04 16:11] Relaxo143 opened #92 "Zap changes the final invoice amount in BTC when switching between sats and dollars."
[video_2019-09-04_19-06-18.zip](https://github.com/LN-Zap/zap-android/files/3575491/video_2019-09-04_19-06-18.zip)

- Zap version: 0.2.4-alpha
- Device: Samsung Galaxy S8
- LND Version: 0.7.1-beta

[2019-09-05 10:17] maraph commented on #92
Hey @Relaxo143 ,

happy to hear from you again!
Thanks for the report and the awesome video! 🎉
You are right, this should not happen.

We will investigate and give you an update on the progress. 🔍

[2019-09-05 17:39] Relaxo143 commented on #86
s8 really does have a problem scanning qr's from Zap. I could not scan the lndconnect qr code at all. I ended up copying and pasting the string.

[2019-09-05 18:42] michaelWuensch commented on #86
I investigated this further. It seems we have to completely switch the QR Code library we use. There does not seem to be an easy fix for this.
The S10 could not scan the very dense connect QR-Code, but it was able to scan normal invoices. For some reason the camera view is blurry on the s10 with our current library, which makes very dense QR Codes unreadable.
We will fix this, but it might take so

[2019-09-05 18:44] michaelWuensch commented on #86
@Jfigs101
Is 127.0.0.1 actually the IP in the lndconnect string you are copy and pasting or is it just shown on zap Desktop?
If yes, it cannot work. 127.0.0.1 is local host which would mean your phone tries to connect to itself.

[2019-09-05 19:04] michaelWuensch commented on #92
Hey @Relaxo143

Thanks for report and the video!
I am aware of this behaviour but thought this is not a big deal.
When paying an invoice, you will notice this does not happen. The reason is here we have a fixed amount of satoshis I can refer to.

When making an own invoice, right now it just converts and rounds the values each time you swich the unit.
But you are right should not be that way. We w

[2019-09-05 20:01] Relaxo143 commented on #92
Thanks for this. If you could include the newest translations and longer invoice expiry times in the patch it would be perfect!

[2019-09-05 20:49] mrfelton commented on #86
You will need to reconnect Zap to your external lnd node using an external IP address (something other than 127.0.0.1).

You can use the `--host` option with `lndconnect` in order to tailor the QR code. See `lndconnect --help`

You'll also need to ensure that your lnd node is configured to listen externally on something other than `localhost`, that you have port forwarding set up for port 10009, a

[2019-09-06 15:45] #24 closed

[2019-09-07 14:36] maraph opened #94 "Display delays for force close channels"
Show user how long it will take to force close a channel.

## Description

Show time to close for a force closing channel in:
- Confirm dialog
- Channel detail

## Possible Implementation

See the expiry countdown for invoices.

[2019-09-21 01:02] seth586 commented on #35
To make sure your tor server is set up correctly, try the same workflow with [Zeus LN](https://github.com/ZeusLN/zeus/releases) android app, use 10009 tho:
[code]
torrc:
[code]
The above works for me on [Zeus](https://github.com/ZeusLN/zeus/releases) but the same workflow with port 8080 for Zap does not work.

[2019-09-21 07:03] michaelWuensch commented on #35
Hi seth586,
yes, tor is not supported yet. We use gRPC to make all the API calls which is much more complicated to get to work with tor than REST. We probably will have to write a wrapper that falls back to REST when we connect to a tor node.
It is definetly a feature we want to support soon, but right now I don't think it is possible to connect to a tor node.

[2019-09-21 18:40] #34 closed

[2019-09-21 18:42] michaelWuensch opened #104 "Add support for different exchange rate providers"
## Description

The user should be able to choose between different exchange rate providers in the settings.

The following providers could be used:

- coinbase
- bitstamp
- kraken
- bitfinex

[2019-09-24 15:16] MrHash opened #106 "QR scanner not effective on small phone"
The current QR code scanner is not seen as a square and not working for reading payment requests on an S4 Mini. I know this phone can do better scanning as other apps can scan correctly. Is there some way to improve this? thanks

- Zap version: 0.2.5-alpha
- Android version: 9 (Pie)
- Device: Samsung S4 Mini
- LND Version: 0.7.1-beta

[2019-09-25 12:30] JurGi7 commented on #106
I have the same Problem with Sony Xperia XZ1 Compact

- Zap 0.2.5-alpha
- Android 9
- Sony Xperia XZ1 Compact
- LND 0.7.1-beta

[2019-09-25 19:39] sixside opened #107 "404 when clicking on "Need help?" button for connect to remote node"
## Description

Clicking on Get Help links results in a 404 page in the local browser.

## Expected Behavior

I presume it should open up this URL: https://docs.zaphq.io/

## Actual Behavior

It opens this URL: https://ln-zap.github.io/zap-tutorials/ which is a 404 page.

## Possible Fix

Swap out the help URLs for the correct one.

## Steps to Reproduce

1. From the home screen click the orange '

[2019-09-27 06:17] michaelWuensch commented on #107
Hi sixside,
Thanks for trying Zap and your detailed report.
With the launch of the new website this link got broken. We already fixed it in the code though, so it will be working again with the next update.

[2019-09-27 06:24] michaelWuensch commented on #106
Hi,
Thanks for your reports.
The QR-Code scanner library we use seems to have problems with some models.
Unfortunatelly the only way to fix this is by changing the library and redoing the whole scanning stuff.
As several people mentioned this and it is a key feature, we hope we can do it soon.
Sorry for the inconvenience.

[2019-09-27 10:23] MrHash commented on #106
What are the alternative impls you would consider? Maybe i can try it on a fork.

[2019-09-27 12:08] MrHash commented on #106
i tried this simple solution and it worked for me: https://github.com/dm77/barcodescanner/issues/489

Perhaps you could test it out on more devices?

[2019-09-27 12:21] MrHash commented on #106
See changes here: https://github.com/MrHash/zap-android/commit/c66fa74fc0b3bc4e5f3389b12fadeccfbdbe7287

Can make a PR if required.

[2019-09-27 12:23] michaelWuensch commented on #106
Hi MrHash,
That would be an easy fix.
What exactly do you mean with: "The current QR code scanner is not seen as a square"?
And is that also fixed now?

The other complaints about the qr-code scanner were mostly when scanning the enormously dense connection qr code. I am not sure if this is the same issue, though.

[2019-09-27 12:26] MrHash commented on #106
I used `mScannerView.setSquareViewFinder(true);` to make the scanner area a square. I was seeing a rectangle before. I couldn't scan a regular LN invoice QR before but with these changes i can.

[2019-09-27 12:36] michaelWuensch commented on #106
Cool, thank you, sounds awesome!
Can you make a PR (without the styling changes)?
I right now don't have acces to my development pc, but I will test it on the weekend and will see if this has any negative effects on devices it worked before.

[2019-09-27 12:38] MrHash commented on #106
ok will do! I was hoping to sneak in the slight styling change because on a smaller screen the large border and rounded corners occupy a lot of screen space and obscure the view. Anyway you can adjust that later if you agree.

[2019-09-27 12:41] michaelWuensch commented on #106
Ah ok, I don't own such a small device, can you send a screenshot? (You might have to allow screenshots in the settings)

[2019-09-27 12:58] MrHash commented on #106
Here is a side-by-side comparison.

![Screenshot_20190927-135150_Zap_Debug](https://user-images.githubusercontent.com/390925/65770776-b270e880-e12e-11e9-9a5b-cd2e944ffdaa.png)

![Screenshot_20190927-135336_Zap_Debug](https://user-images.githubusercontent.com/390925/65770793-bc92e700-e12e-11e9-92e8-fb271c6ce1c0.png)

[2019-09-27 13:04] michaelWuensch commented on #106
Okay, the borders look really fat on that display. I think we have to adjust that value depending on screen pixel density. I will have a look at this, thanks for pointing it out!

[2019-09-29 18:56] michaelWuensch commented on #106
In the next version the stroke width should now look the same on all devices and will be somewhere inbetween your 2 screenshots.

[2019-10-03 09:33] #94 closed

[2019-10-03 11:32] maraph opened #116 "Sync Paymentrequest expiry with Desktop/iOS"
## Description

Currently the user can chose expiry rates for their requests from 10 minutes up to 24 hours.
On Desktop e.g. they can chose from 1 minute to 1 year.

## Context
Current values on Desktop

![image](https://user-images.githubusercontent.com/11649986/66123218-ca8ab100-e5e1-11e9-879e-44570975afc9.png)

## Possible Implementation
Update the current values.

[2019-10-03 14:39] michaelWuensch commented on #116
In our current codebase we already support one minute to a year. Actually we have all values plus "30 min" and "6 hours"

[2019-10-06 09:49] #21 closed

[2019-10-07 11:51] Relaxo143 opened #121 "Zap fails to pay "private" LN invoices"
I can't pay invoices created from the breez wallet. Their nodes are private. Essentially, Zap for android can't pay any invoice for which the fee is unknown. It says no path to destination. The same invoice can be paid no problem with the desktop version of Zap for windows, connected to the same LND node.

- Zap version: (e.g. 0.2.5-alpha)
- Device: (Samsung Galaxy S8)
- LND Version: ( 0.7.1-beta)

[2019-10-07 15:57] maraph commented on #116
Nice, I already forgot about that one. Has been done with: #99

[2019-10-07 15:57] #116 closed

[2019-10-08 18:25] JimmyMow commented on #121
@Relaxo143 I'm having a hard time reproducing this issue, I was able to pay a private invoice without any problems.

But, if Desktop was able to pay, then surely there is some issue. Any further context you think is relevant definitely post here

[2019-10-08 21:01] Relaxo143 commented on #121
@JimmyMow Currently I'm unable to reproduce it either, because at the moment there doesn't seem to be a path for real.

 I noticed that when I wasn't able to pay with mobile, but could pay with desktop, the mobile app was behaving weirdly. It would randomly show that the server is not responding, but if I switched between history "history" and "wallet" the normal screen with the balance would show

[2019-10-08 22:16] Relaxo143 commented on #121
I made a video which demonstrates the issue: https://youtu.be/DkuuodvYW4k

[2019-10-09 06:20] michaelWuensch commented on #121
Strange. We will try to find that issue. Thanks for all your help so far!

[2019-10-09 06:20] michaelWuensch commented on #107
Fixed in 0.2.6

[2019-10-09 06:20] #107 closed

[2019-10-09 06:21] michaelWuensch commented on #106
Fixed in 0.2.6

[2019-10-09 06:21] #106 closed

[2019-10-09 06:21] michaelWuensch commented on #92
Fixed in 0.2.6

[2019-10-09 06:21] #92 closed

[2019-10-09 06:40] Relaxo143 commented on #121
You're welcome! The described erros seem to be gone in the newest version. Still can't pay private invoices though.

[2019-10-09 08:38] maraph commented on #121
Hey @Relaxo143, thanks for the video!
I think I found an issue with the fee calculation in case of private channels.
Would you be willing to test the fix?
If yes you can contact me in the zap slack `@raph` or I can also contact you by email.

[2019-10-09 09:18] Relaxo143 commented on #121
@maraph I would gladly test it. My email is: Relaxo143@protonmail.com

[2019-10-09 11:49] Relaxo143 commented on #121
@maraph Testing was successful. I am now able to pay those invoices, however the errors and weird behaviour described above are still present. Restarting Zap fixes them. I think they have something to do with [this](https://github.com/LN-Zap/zap-desktop/issues/2941) issue I opened since they started appearing around that time.

[2019-10-09 13:24] JimmyMow commented on #121
@Relaxo143 I was able to get to the bottom of this issue and come up with a fix. @maraph will get something in and we will get a release out 👍

[2019-10-11 06:53] #121 closed

[2019-10-11 16:07] Relaxo143 commented on #12
Can the node route if the app is closed? Neutrino is still not in Core though, so there's plenty of time.

[2019-10-12 16:11] Relaxo143 opened #129 "There's no Bulgarian language option"
The only way to use BG is to use the system language setting. Could you add it? Many people use English as their system language and won't know there's a Bulgarian translation for the app.
![photo_2019-10-12_19-06-08](https://user-images.githubusercontent.com/42069389/66704332-9d49ab80-ed23-11e9-81d1-b49983a5df7a.jpg)

[2019-10-13 18:54] JimmyMow commented on #31
This has also been heavily requested for iOS. We should maybe prioritize this one

[2019-10-13 20:15] michaelWuensch commented on #31
Ok. Basically there would be 3 ways to do this.
1. We still require a PIN setup during onboarding. Later the PIN can be turned off in the settings. This would be "opt out" and basic sentiment is safe your wallet!
2. We suggest to protect it with a PIN during setup. But the step is skippable.
3. We do not ask to create a PIN at all during onboarding. A PIN can be added later in the settings.

Any t

[2019-10-14 09:29] Kixunil commented on #31
From a year of experience doing "cryptoapostle" (a mentor for setting up wallets basically) in [Paralelna Polis](https://paralelnapolis.sk):

1. People forget it immediately, turning it off later doesn't solve the problem
2. If someone doesn't recommend skipping it, people don't skip and then forget it
3. Sounds good, but might be unsecure if the user didn't set lock screen

My suggestion: tell us

[2019-10-18 03:41] KhimairaCrypto opened #131 "Zap Desktop (Windows) Channel options missing on Android application"
**Describe the bug**
The Zap Desktop (Windows) provides a very handy feature to configure a new channel:
1) Fee (Slow, Medium, High)
2) Keep this channel private (on/off)

**Expected behavior**
Provide the same options as the Zap Desktop (Windows) and maybe More ;-)

**Screenshots**
![Capture](https://user-images.githubusercontent.com/36352470/67063936-3f4e1580-f1b4-11e9-999f-68c917309b45.JPG)

**

[2019-10-28 03:07] grantwest opened #136 "Publish to F-Droid Repo"
Publish to F-Droid Repo

## Description

In order to make it easy for non-google Android users to install and keep the app up to date, zap-android should be published to the f-droid.org repo.

The guidelines for being included into f-droid are here: https://f-droid.org/en/docs/Inclusion_Policy/
I believe zap-android meets all the requirements, but someone else should review and confirm.

The proce

[2019-10-28 08:58] maraph commented on #136
Thank you @grantwest,
we will consider it and update the issue in case of any update/progress.

[2019-10-29 14:55] JimmyMow commented on #86
@Jfigs101 were you able to resolve this issue?

[2019-10-29 16:26] Jfigs101 commented on #86
I axed that setup so I'm unable to test. Given than it's a config issue on
my end, please close the issue. Thanks for the follow-up.

On Tue, Oct 29, 2019, 7:55 AM JimmyMow <notifications@github.com> wrote:

[2019-10-31 17:40] tukac opened #138 "Inability to alter IP after LndConnect QR code scan"
After scanning QR code there is no possibility to change IP address (iOs app has this option, Android app doesn't). Scanning QR takes 127.0.0.1 as IP (although I have --tlsextraip set correctly in lnd), but I want to access my lnd externally. Same happens in iOs app, but there is possibly to correct IP manually. Here IP can't be altered.

Please ad possibility to alter IP manually. Thanks!

[2019-10-31 18:36] michaelWuensch commented on #138
Thanks for your feedback!
We will see what we can do.
In the meantime you can scan the qr code with an ordinary qr code scanner, copy/paste the result in a text editor, edit the IP there, copy the edited version and then use the past button on the connect screen. Hope this helps! :)

[2019-10-31 21:49] tukac commented on #138
I've edited and pasted string  Thanks! :)

If I can suggest one thing. Maybe it would be good  idea to show how much of total balance is on-chain and how much is on lightning. Also lightning receiving capacity (total, single largest).

Great job!  👍

[2019-10-31 21:49] #138 closed

[2019-11-01 06:48] michaelWuensch commented on #138
Glad it helped!
You can make a long press on the balance to see that.
It will later be like on iOS, it was just a quick solution to provide something at least.

[2019-11-10 12:22] michaelWuensch commented on #31
@Kixunil
I have finally made a PR for this one.
PIN is now completely removed from setup and can optionally be added in the settings.

[2019-11-13 18:47] bilthon commented on #12
The filter part is already in present 0.19. I would also like to see (and help if I can) some development towards that front.

But just taking in consideration the amount of data that has to be downloaded, even with the light filters I'm not sure a mobile device can handle all of that.

Check it here: https://bitcoinops.org/en/newsletters/2019/04/23/#basic-bip158-support-merged-in-bitcoin-core

Wh

[2019-11-13 19:32] raphBTC commented on #12
@Relaxo143 Currently it works like this, that when the app is closed, LND will be shutdown.
I don't think they are meant to be used as routing nodes on mobile devices.

@bilthon LND already supports using neutrino on mobile. Thats how we have LND enabled on iOS devices with zap iOS, and I'm currently working at getting it wrapped up for zap Android.

[2019-11-16 15:58] #35 closed

[2019-11-16 15:59] 05nelsonm commented on #35
👀

[2019-12-04 16:51] MrHash opened #156 "Select payment channel"
## Description

Support selection of specific channel to attempt payment when you have multiple channels to choose from.

## Context

LND supports this feature using the `outgoing_chan_id` parameter on `payinvoice`. Not sure about C-lightning. This gives the wallet user the option of making payments on a specific channel.

## Possible Implementation

This could be implemented as an 'advanced' paym

[2019-12-05 01:16] bitcoinuser opened #157 "Idea: be able to link Zap with web wallets"
Hi,

I was thinking that hosted lightning web wallets like bottle.li could have an option to synchronize with non custodial wallets like Zap. How I think this could work:

1- I open a site like bottle.li and inside the site have an option to add an account (Add Zap Wallet).
2- When I click on add Zap wallet, will appear a field or qrcode with a unique id.
3- I open Zap wallet and scan this qrcode.

[2019-12-05 01:22] bitcoinuser commented on #157
Of couse this depends on ZAP implementing LND and not only be able to connect to a node as it's how it works now.

[2019-12-06 09:10] michaelWuensch commented on #157
Thanks for you input. We are already working hard on local LND for Zap Android.
When that is done, we can have a closer look at this.

[2019-12-06 09:12] michaelWuensch commented on #156
Thanks for the idea. Right now OnDevice LND has priority. But if we find an easy UI this would be a nice feature!

[2019-12-09 19:08] hawkmauk opened #158 "Add support for Near Field Communication (NFC)"
With services like Apple pay and Google pay NFC is going mainstream as a way to make payments with mobile devices, it would offer a familiar UX to new lightning users if payments via NFC were supported in mobile lightning wallets.
I developed a PoC for this using a modified version of  zap-android and would like some feedback and (hopefully) help and support in bringing this into the project which

[2019-12-10 20:24] #31 closed

[2019-12-10 20:25] #129 closed

[2019-12-10 22:00] michaelWuensch commented on #158
Hi Hawkmauk,
That is something I definetly want to have in Zap. I have no experience with NFC so far, but I will have a look at your implementation in the next days :)
Thank you very much!

[2019-12-11 11:19] hawkmauk commented on #158
There are a few details that still need to be worked on which is some of the additional help that would be needed .. ontop of this being my first foray into android development.
1. There isn't a formal spec for the message format that needs to be sent.  Ndef messages are sent over NFC with a URN header that specifies the service the message is intended for.  The URN would need to be agreed.
2. I b

[2019-12-13 14:40] #28 closed

[2019-12-23 10:34] Relaxo143 opened #159 "Feature request: LNURL"
It`s like a LN address! No need to create invoices every time.

[2019-12-23 17:34] MrHash opened #160 "Closing channel balance added to displayed total"
## Description

When a channel is closing the chain amount is added to the total available.

## Expected Behavior

Would expect channel amount to be deducted from total at the same time.

## Actual Behavior

Closing channel amount is still counted as available in total.

## Steps to Reproduce

Close a channel, refresh wallet display

## Your Environment

- Zap version: 0.2.9-alpha
- Android versio

[2019-12-23 23:03] michaelWuensch commented on #159
@Relaxo143 Thanks for creating the issue. We already planned to support this in the future :wink:

[2019-12-23 23:06] michaelWuensch commented on #160
@MrHash Thanks for mentioning this. Was this a force close?

[2019-12-23 23:06] MrHash commented on #160
Nope just a regular close, low fee though

[2019-12-23 23:09] michaelWuensch commented on #160
Ok, thanks. Your Balance will eventually be correct again, when the close is finished I guess. We will try to fix it for the next version.

[2019-12-23 23:15] michaelWuensch commented on #158
Sorry, I was very busy the last two weeks with my job, so I didn't find the time to explore this. But I should be able to do this till the end of the year.

[2019-12-24 09:34] hawkmauk commented on #158
Same here but hope to do some more over the next week when I have some time off

[2019-12-30 02:06] Giszmo opened #161 "Zap build cannot be verified"
[I tried to verify the build](https://walletscrutiny.com/posts/zapsolutions.zap/) from Google Play against the source code but got a diff in binary files.
Could you please investigate and improve the build instructions so the releases can be verified.

I think this is highly important also for internal use, as the release manager under distress might put the users' funds at risk and only determini

[2019-12-30 08:24] michaelWuensch commented on #161
@Giszmo
Thanks for doing this. This is indeed very important.
We generate two APKs so we can keep the download size at a minimum.
I don't know though why the diffs appear.
I always built it using Android Studio, but that shouldn't make a difference, I think.
We have to investigate this and will inform you if we have any news on this.

[2019-12-30 12:17] Giszmo commented on #161
@michaelWuensch thanks for your interest and understanding. Yes, I was surprised that not more apps were building multiple APKs but yours was the first and only one I remember. We failed to compile some apps, so ... who knows.

Sorry for boring you with my problems but would you have an idea how to get all APKs as they get released? My best idea is a monitor app that hopefully one user per categor

[2019-12-30 14:13] michaelWuensch commented on #161
@Giszmo
I used the following firefox extension which allows you to download all the apks from google play store:
https://addons.mozilla.org/en-US/firefox/addon/direct-apk-downloader-2018/
I am not sure though if this really helps to automate this in a feasible way.

I now also started to investigate the diffs.
I found out that the 2 json files for example only differ in linebreaks

[2019-12-30 17:40] michaelWuensch commented on #158
Hey,
I just had a short look at it and wanted to test it, but I do not know how to do so.
If I use a second phone, both have NFC activated, then just the android Beam stuff starts.
What do I need to test this?
Furthermore I saw in my NFC settings that there is a "Tap and Pay" section where one can set the default Payment provider. Maybe we somehow have to get on that List with Zap.

[2019-12-31 04:04] Giszmo commented on #161
The line breaks in json and the png diffs I would have allowed for now, although later I would need some criteria that can be automated, so finding a careful balance to what is allowed in a diff and what might open the door for malicious insertions would be a tricky one. My main concern are the .so files.

For the png files you would have to disable pngcrunch. You can run it once and commit the cr

[2020-01-02 20:08] hawkmauk commented on #158
The setup I had was with a Raspberry Pi but two android phones would be simpler to setup... unfortunately I only have one NFC enabled android phone.
There is an app called NFC Tools that is useful and should be able to provide the functionality to test:
1. Navigate to the `WRITE` tab
1. Click on `Add a record`
1. Select `Text`
1. Paste in a lightning invoice to the textfireld and click `OK`
1. Cli

[2020-01-04 13:46] michaelWuensch commented on #158
Thanks for the info.
I tried, but the emulation doesn't seem to work. I am not able to read the emulated NFC Tag even if I try to read it using the NFC Tools app on the other phone. I also switched phones and emulate on the other and even with another NFC Tag emulation app. But no luck so far.

[2020-01-12 15:53] michaelWuensch commented on #158
Hi,
I received my tags and with them it worked!
So I did some tests and further reading.

The intent in the manifest should not be of type text in my opinion. Instead it should be:
<data android:scheme="bitcoin" />
<data android:scheme="lightning" />

And I think we should support both, normal lightning and LNURL request via nfc.
But LNURL is completely independent from nfc. Nfc just transmits the

[2020-01-16 10:50] hawkmauk commented on #158
Great that you got it working!  Did you use NFC Tools to emulate the tag?  I was thinking that it might be easier to test if I tried to implement sending via NFC too but it might end up being implementation specific.
Agree that both lightning and LNURL should be supported, although I'll need to do some reading up on LNURL but as you mention that shouldn't matter the transport of data which is in p

[2020-01-16 20:27] michaelWuensch commented on #158
The emulation did not work, so I bought some writeable tags. I have nearly finished the tag reading by now. I'll probably push a branch on my repo this Weekend, then you can have a look at it.
I haven't included sending via NFC so far, but maybe we can try that next.

[2020-01-17 12:50] michaelWuensch commented on #158
@hawkmauk I have a working solution now. Tags are readable directly from the home activity and the send activity. From other activities it behaves nearly similar to an app restart, which means it goes back to the home screen.
When reading a tag while the app is closed, it now keeps the information and processes it as soon as the wallet is opened/unlocked.
Furthermore I have moved most NFC logic in

[2020-02-24 13:49] thorie7912 opened #165 "A paid invoice for amounts larger than the original request is not showing as paid in zap"
## Description

In zap i created an invoice for 52000 sats. I then sent payment to that invoice using phoenix wallet but I clicked send all funds which was 52467 sats. It was sent successfully

But in zap, the 52000 invoice still shows unpaid and there's no other receipt of money.

When i switch to zeusln connected to the same lnd node, it does show the receipt of 52467 sats.

## Expected Behavior

[2020-02-29 19:48] michaelWuensch commented on #158
#163 got just merged. NFC Support will be in the next release.

[2020-02-29 21:58] IzzySoft commented on #136
@raphBTC meanwhile, maybe you could attach the (signed) APK to releases?

[2020-03-02 07:45] raphBTC commented on #136
Hey @IzzySoft,
I have added the signed apk's to our latest release:
https://github.com/LN-Zap/zap-android/releases/tag/v0.2.11-alpha

[2020-03-02 20:39] IzzySoft commented on #136
Thanks @raphBTC! Just added it to my repo ("Staging" for F-Droid), should turn up [here](https://apt.izzysoft.de/fdroid/index/apk/zapsolutions.zap) with the next sync in about 22h (sorry I didn't make it for the last one 2h ago, but I just returned from work).

For F-Droid, it would then be nice if you could establish [Fastlane file structure](https://gitlab.com/snippets/1895688) in your repo. My

[2020-03-24 10:31] michaelWuensch commented on #165
Hi @thorie7912
thanks for the report.
I was quite busy with my job lately, so sorry for the delay.
I have found the issue and made a PR for it #170

[2020-03-29 00:55] Giszmo commented on #161
Three months later ... is there any progress regarding verifiability?

[2020-04-05 01:52] jackeveritt commented on #159
https://github.com/LN-Zap/zap-iOS/issues/338

[2020-04-06 21:09] ftt01 opened #178 "Generated on-chain address"
## Description

On Android application version 0.2.11-alpha, the generated address for receiving funds on-chain contain "bitcoin:" at the beginning. This is useless, it is copied to clipboard when the address is copied.

## Expected Behavior

The shown address could contains "bitcoin:", but not the copied one.

## Actual Behavior

Both shown and copied bitcoin on-chain generated address have "bitc

[2020-04-11 08:59] bmml1 opened #183 "Changing pin does not work due to 4 digit placeholder"
## Description

When trying to reset connection settings or changing the pin in settings a 4 digit empty pin placeholder appears and connection settings can not be resetted / pin can not be changed

## Expected Behavior

6 digit pin placeholder should appear

## Actual Behavior

4 digit pin placeholder appears

## Possible Fix

## Steps to Reproduce

1. Open app and unlock by entering 6 digit pin

[2020-04-11 09:45] michaelWuensch commented on #183
Thanks for your report. I just tested it and same behavior on my phone. Probably missed to test this with longer PINs.
I will fix this asap!

[2020-04-11 11:01] michaelWuensch commented on #183
I have just made a PR to fix this.
Due to our update cycles and store review waiting times it will still take a few weeks until this makes it into an official release, I guess.
In the meantime if you want to get rid of your PIN now, you have to clear the App data or uninstall Zap and then reconnect.

[2020-04-12 09:39] bmml1 opened #185 "Remote Connection via TOR"
Connection via TOR not working. Somewhat related to https://github.com/LN-Zap/zap-iOS/issues/333

## Description

Following this [tutorial](https://github.com/openoms/bitcoin-tutorials/blob/master/Zap_to_RaspiBlitz_through_Tor.md) for connecting ZAP with remote lightning Node via Tor.
Orbot is running in VPN Mode and ZAP is enabled for VPN mode.

## Expected Behavior

Working connection via TOR

#

[2020-04-12 10:43] michaelWuensch commented on #185
Zap Android does not support connection using REST. Zap Android uses gRPC on port 10009
Can you try it with that port forwarded?

[2020-04-12 11:22] bmml1 commented on #185
So Torrc file looks like:
HiddenServiceDir /var/lib/tor/lnd/
HiddenServiceVersion 3
HiddenServicePort 10009 127.0.0.1:10009

Lnd conf
rpclisten=0.0.0.0:10009

then:
lndconnect --host=12345test.onion --port=10009

Am I missing something?

[2020-04-14 07:28] michaelWuensch commented on #165
This has been fixed and it was shipped in v0.3.0

[2020-04-14 07:28] #165 closed

[2020-04-14 07:28] #25 closed

[2020-04-14 07:28] #158 closed

[2020-04-14 07:36] michaelWuensch commented on #185
Maybe.
Are you sure you have forwarded 10009 on your router?
To be honest I haven't setup a tor node myself so far, I just tested with someone elses already setup node. And there it worked.
Hopefully I will find the time to setup one myself soon.
In the meantime maybe @raphBTC can help you. As far as I know, he already did this, but he is quite busy right now, so that might also take a while.

[2020-04-14 08:18] bmml1 commented on #185
I think the port forwarding is not necessary via Tor. Nevertheless I guess there is something missing in one of the config files.

[2020-04-15 13:18] mrfelton commented on #185
@bmml1 can you try also setting `tlsextradomain=12345test.onion` in your lnd config and regenerate your tls certs and lndconnect string

[2020-04-15 21:13] bmml1 commented on #185
@mrfelton thanks for the reply.

I added tlsextradomain with onion adress from lnd hidden service to the config, regenerated the certificates(deleting *.tls files, restarting lnd daemon and double checking the certificate with openssl x509 -in /path/to/cert/ -text).

I then started orbot in vpn mode(with zap enabled), started zap and scanned the newly generated qr-code from lndconnect with no succ

[2020-04-15 21:45] michaelWuensch commented on #185
@bmml1 @mrfelton
Not a solution, but I just tested again to access @mrfelton's tor test node.
I used Zap Android 0.3.0 with orbot and the tor node is running LND 0.9.1.
It worked. So I don't think it is an issue that is related to the Zap version or the LND version.

[2020-04-15 21:54] bmml1 commented on #185
I removed and readded the zap app in orbot. It works now. Thx! @michaelWuensch @mrfelton

[2020-04-15 21:54] #185 closed

[2020-04-23 09:54] maxwedwards opened #191 "Timeout when trying to connect to lnd on mynode via tor"
I have LND running on a mynode on a RPi 4 with 4GB of ram connected to a slow spinning rust usb HDD. It's pretty slow as it is but when I connect to it over tor it's extremely slow. 10s of seconds to load admin pages but does get there.

I'm trying to connect the Zap wallet over tor and it's timing out. The error message appears quite quickly and from experience of using the admin interface over t

[2020-05-01 14:30] michaelWuensch commented on #191
Hi,
thanks for the report. I actually needed to do this some time ago when I was testing local LND on low end devices. Forgot to also update that in the main project.
My PR increases the timeout from 10 to 30 seconds and should be in the next release.

[2020-05-12 18:55] #191 closed

[2020-06-06 13:11] Relaxo143 commented on #178
Why would you want something to be shown, but not copied? "bitcoin:" is part of the standard Bitcoin URI which most wallets recognize. More info here: https://en.bitcoin.it/wiki/BIP_0021
I agree that if you need only the address itself "bitcoin:" is not needed, but it's pretty easy to delete that part once pasted. However if you specify an exact amount for the payment the Bitcoin URI becomes very

[2020-06-06 15:32] Lace79 opened #196 "Cannot connect to my raspiblitz after setting up a new one"
1. had already a working setup:
Raspiblitz 1.4 - Zap wallet connected --> working fine! - great App btw - thx for everything

2. had to reset my raspiblitz with lnd Backup - incl. new IP of the raspi

3. after raspiblitz setup:
- raspiblitz 1.5
- deleted the Zap-Wallet on my android device
- new install from playstore and tried to connect to my raspi, but its not working - i don´t get a connection

[2020-06-07 10:08] michaelWuensch commented on #196
Hi Lace79

While I am personally still at LND v0.9.2-beta (Raspiblitz 1.4), I also have access to a 0.10.0-beta test node with my Zap Android 0.3.0-beta on Android 10.
This means the LND version cannot be the problem.

Have you had a look over there yet?
https://docs.zaphq.io/docs-desktop-lnd-configure
It also explains how to recreate the certificate.
Maybe restoring your raspiblitz restored your

[2020-06-08 14:01] Lace79 commented on #196
Hi Michael,

thanks for help!

I thought the same

i tried to find the lnd.conf file, but i found more than one
but i no one of them was the old "Raspiv1.4 IP" -

Could you pls tell me the path, to find the lnd.conf

[2020-06-17 20:02] Kixunil opened #202 "Too generic error message makes it impossible to solve connection problems"
## Description

When there's a problem with connecting to a node, the error message tells few generic options instead of telling **specific** reason why the connection failed

## Expected Behavior

See single, **specific** error message when the connection fails.

## Actual Behavior

All theoretically possible errors are shown

## Possible Fix

Show only one message based on cause of error

## Ste

[2020-06-17 20:27] Kixunil opened #203 "Needless requirement of tlsextradomain"
## Description

`tlsextradomain` shouldn't be needed if the certificate is explicitly pinned. The wallet already checks the certificate matches, so domain doesn't provide any value beside annoyance.

## Expected Behavior

The wallet checks that the certificate provided in URI matches the one sent by the server and accepts it without other conditions.

## Actual Behavior

Zap rejects certificates w

[2020-06-18 05:56] michaelWuensch commented on #203
Thanks for this issue.
First of all, does this mean you have solved the connection problem you had in #202?

This is an interesting find. I never explicitly check for tlsextradomain or tlsextraip.
Are you sure these values have to be there or was it just due to recreating the cert?
If this is actually true, then this happens somewhere while creating the certificate.

The way we do it right now is:

[2020-06-18 08:02] Kixunil commented on #203
Yes, I solved the problem in #202 (however, that issue should still be open).
Just regenerating the certificate didn't occur to me, but I doubt that'd help. Maybe I will try it a bit later. Still, as you say, hash is more convenient.

Maybe it's a bug/feature in some Android library? If feature, then I'm not sure what purpose it serves though. I don't see any security increase.

I hope not. I'd ex

[2020-06-18 08:23] michaelWuensch commented on #203
@mrfelton
Maybe you can shed some light into usage of tlsextradomain and tlsextraip.
Can it work without? If yes, would that be a bad idea regarding security?
What are your thoughts on just including a hash of the cert in the LND connect string?

[2020-06-18 08:48] mrfelton commented on #203
`tlsextradomain` and `tlsextraip` need to be set in the lnd.conf of the node you are connecting to. With these set lnd will generate a tls certificate that is bounded to those domains/ips.

Clients can then connect to the node with this certificate alone.

If you try connecting to a node using a domain name or ip that is not set in `tlsextra*` your tls connection will fail.

Technically, you can b

[2020-06-18 08:59] Kixunil commented on #203
@mrfelton why would it be a bad idea if you also check that the certificate is the one supplied by the QR code (or hash)?

[2020-06-19 05:53] michaelWuensch commented on #203
@Kixunil
I couldn't get the idea out of my head and actually made a test implementation of the certificate hashing and new trusting mechanism yesterday. It was a lot easier than i thought.
https://github.com/michaelWuensch/zap-android/commit/96ebf6cc39247a2661507f650393605093fb0000

Please note that this does not change anything considering the tlsextradomain or tlsextraip.
We are still using the

[2020-06-19 07:03] michaelWuensch commented on #196
@Lace79
the tlsextraip is not the IP of your Raspi, it has to be the IP of the device from which you are trying to connect from.
In the raspiblitz menu choose the one at the bottom that gives you console access. Then use
sudo nano /mnt/hdd/lnd/lnd.conf
to edit the lnd conf file.

Look for tlsextraip and set it to your phones IP.
You can add more than one, just duplicate the line if you want to hav

[2020-06-19 08:08] michaelWuensch commented on #202
Hi,
yes, this can be improved.
Thanks for your input!

[2020-06-19 13:55] Kixunil commented on #203
That's really cool! Did you keep domain check intentionally or you didn't find out how to do it yet?

[2020-06-19 17:15] Lace79 commented on #196
Hi Michael,
thank you so much.
Reset the LNDCREDS was the key - now its working!

[2020-06-19 17:15] #196 closed

[2020-06-28 12:06] TindustrialMV opened #204 "Unhandled NullReferenceException when reading LNURL"
## Description
When scanning a withdrawal LNURL, that has no URL-Query data, the application crashes. Scanning a LNURL should never crash the Application.

## Expected Behavior
Scan a withdrawal LNURL. Withdrawal UI opens.

## Actual Behavior
Application crashes because of NullReferenceExeption, if LNURL has no Query

## Possible Fix
Check if the decoded LNURL has a Query before trying to use it.

[2020-06-28 13:38] raphBTC commented on #204
Hey @TindustrialMV,

thanks for creating the issue and already digging up the problem.
This should definitely not happen.

[2020-07-26 01:45] vanjaime opened #222 "Android app not connecting gRPC to BTCPayServer"
Getting an error message in Android connecting to a lnd server via TOR.

Lnd server is reachable via TOR hidden service.

Zap version 0.3.0 Beta
Build 18

![Screenshot_20200725-213739](https://user-images.githubusercontent.com/16761309/88469481-028c1900-cec0-11ea-9e87-23bf660186f9.jpg)
Is it possible to connect without certificate.l?

[2020-07-26 08:38] michaelWuensch commented on #222
Hi there, thanks for the report.
Is your gRPC interface reachable under Port 80?
Zap Android only supports connecting with gRPC which is normally port 10009. REST (normally port 8080) is not supported.

[2020-07-28 20:24] Kixunil commented on #203
I'm currently thinking deep about integrating Zap into [my project](github.com/Kixunil/cryptoanarchy-deb-repo-builder/) and requiring `extratlsdomain` will lead to a very unclean design. :(

Would you merge a PR removing the check if I figure out how to do it safely?

[2020-07-28 20:44] michaelWuensch commented on #203
@Kixunil
Depending on what integrating zap into your project exactly means, forking and modifing the project yourself might be a solution. Have a look at the MIT License in this case.

We might merge a PR like that, if we reviewed it and have no concerns.
But I can't answer that question now without further research.

[2020-07-28 21:03] Kixunil commented on #203
I mean, I want to add support for generating QR codes. The biggest issue is that `tlsextradomain` is settable by administrator and I don't want to overwrite such setting. I'd have to remove the ability or make it conditional, which could easily become confusing.

I'll try to look at it then. I will not dare to make a PR that would make it possible to do MITM or contain unreadable spaghetti, that y

[2020-07-30 03:51] githorray commented on #161
Is there a reason the 0.3.1 release doesn't include the APK's?

[2020-07-30 08:05] raphBTC commented on #161
Hey @githorray,
no reason other than I have forgot to, have attached them now.

[2020-07-30 13:07] Giszmo commented on #161
Attaching a build to GitHub releases is unrelated to this issue. How is the issue coming along?

[2020-07-30 13:53] michaelWuensch commented on #161
@Giszmo
We have not forgotten about it. There is still so much left to do on Zap Android that we just didn't take the time to investigate further where this diffs come from. Eventually we will tackle this issue as well.
In the meantime everyone who does not trust us has the possibility to build it from source.

[2020-07-30 17:23] michaelWuensch commented on #161
I know it is important. But usability is as well.
There is no use in having a verifiable wallet if it is complicated to use and people flock to a custodial wallets instead.
It is a question of priority.

Just so you can better understand me:
You are the only one so far who asked for verifiability (which actually surprises me), while we get lots of other requests.
This means it might not be the top

[2020-07-31 01:06] Giszmo commented on #161
Well, ... I'm working on getting more people up to speed on the topic. Non-techies that learn about open source, assume that that is enough and that somehow magically thousands of security researchers review code of any tiny project.

Re: What you owe: This project is open source under the MIT license, so you the software developer don't owe anything to anybody and I totally agree with that. You d

[2020-07-31 06:51] raphBTC commented on #204
Fix has been released in v0.3.1-beta

[2020-07-31 06:51] #204 closed

[2020-07-31 08:57] michaelWuensch commented on #183
Fix has been released in v0.3.1-beta

[2020-07-31 08:57] #183 closed

[2020-07-31 08:58] michaelWuensch commented on #159
LNURL support has been released in v0.3.1-beta
The release includes support for LNURL-Pay, LNURL-Withdraw & LNURL-Channel

[2020-07-31 08:58] #159 closed

[2020-08-01 16:59] vanjaime commented on #222
This is how my server is building the config json
![image](https://user-images.githubusercontent.com/16761309/89106284-ad3b9480-d3f6-11ea-8df5-ae4f08813d26.png)
Note the certificate Thumprint is what I think is causing the problem

[2020-08-03 05:59] michaelWuensch commented on #222
Hi,
unfortunatelly I have never tried to connect to a btc pay server behind tor.
As far as I know, btc pay does not use self signed certificates and therefore the certificate is not included in the connect data.
But the gRPC channels we make still requires SSL. Is there any possibility to acitvate SSL for your btc pay server and then try again?

[2020-08-06 02:09] bitsam opened #232 "Andriod camera not working to scan QR code for Remote node setup"
Andriod camera not working to scan QR code for Remote node setup

## Description

Unable to setup Remote node on Raspiblitz

## Expected Behavior

QR code should have detected

## Actual Behavior

nothing happens, do I have to click the Paste button to take a photo? When clicking paste, the error unsupported connection format.

## Possible Fix

a place to type or copy paste the url would be nice

[2020-08-06 05:30] michaelWuensch commented on #232
Hi, thanks for the report.
Have you tried to move the phone forward and backwards while scanning? The code does not necessarily have to fit exactly into the brighter ssquare.on my phone it works mostly better if it is actually smaller than the square.
Most likely though the problem is the combination of the QR-Code scanner library we use and your phone.
We already had the same problem of scanning

[2020-08-07 16:53] Kixunil opened #233 "Regtest builds?"
Is it possible to build a regtest version of the app? If yes, it'd be nice to document it, if not I'd like to see it enabled.

## Description

I'd like a special version of the app using regtest instead of mainnet. Similarly to how Eclair mobile app has a testnet version (well testnet would be nice too, but I personally find regtest more practical). This version should accept all regtest inputs (a

[2020-08-08 07:20] Kixunil commented on #203
FYI, I needed to do a change similar to adding `tlsextradomain` for BTCPayServer, so I decided to support `tlsextradomain` too. I figured the setting can be used multiple times, so thankfully there's no conflict with admin configuration.

This means I'm de-prioritizing my PR to remove the requirement. I might still do it at some point, but probably not anytime soon. Thanks for all your support so

[2020-08-08 07:29] Kixunil commented on #232
Some more ideas to improve QR code scanning:

* Disable TLS verification entirely for onion connections (onion is already encrypted and authenticated!) and remove TLS cert/fingerprint entirely
* Try using upper case encoding for optimized QR codes (similar to what LN invoices and bech32 addresses do)
* If IP address is used convert it to raw 4 bytes and then encode with bech32
* Shorten the schema

[2020-08-08 08:58] michaelWuensch commented on #232
@Kixunil
Thanks for your Input. We will consider it when updating lndconnect.
If we actually use a hash of the certificate I think we are already having a density that is acceptable.
From there on we are trying to find a balance between ease of implementation and efficiancy.

[2020-08-09 16:36] michaelWuensch commented on #233
This is something I wanted to do for a long time...
I will try to make this work next week for builds from source.

[2020-08-11 11:54] michaelWuensch commented on #233
Regtest support was merged. Please see the documentation here:
https://github.com/LN-Zap/zap-android/blob/master/docs/REGTEST.md

[2020-08-11 11:54] #233 closed

[2020-08-11 15:06] Kixunil commented on #233
Awesome, thanks!

[2020-08-17 19:45] #202 closed

[2020-08-18 12:53] rootzoll commented on #159
@michaelWuensch Is the LNURL-Withdraw supporting the FALLBACK-URL scheme? Its one of the first things mentioned on the LNURL-Spec and should just be a few lines of code to support: https://github.com/btcontract/lnurl-rfc#fallback-scheme

I tried to scan a LNURL-FALLBACK-URL and Zap said: "Unkown Data"

[2020-08-21 07:02] michaelWuensch commented on #222
Sorry, this got autoclosed when merging the PR it was mentioned in.
Most likely the issue should be fixed though with this PR.
If you could test it it would be awesome. I'll make a release today, or you can build it yourself of course.

[2020-08-28 16:37] michaelWuensch commented on #222
The version is now rolled out in the app store as well. Would be great if you could test it and give feedback.

[2020-08-28 17:43] vanjaime commented on #222
Hi Thanks,

Just tested and few things I noticed.

-ZAP won't read QR code generated by BTCPayserver
-When copy paste the config=... generated by BTCPayServer it will not connect
-When copied the full content of config=... file and paste it directly it seems it finds the TOR hidden service but few seconds later error message "Connection failed. Handshake failed"

[2020-08-28 18:40] michaelWuensch commented on #222
@vanjaime
Thanks for testing again.
I think I have to setup a BTCPayserver myself for easier debugging.
I'll let you know when I made some progress.

[2020-08-29 10:16] Relaxo143 opened #249 "Feature request: Custom fee rates for channel openings"
I used the app to open a channel and got burned with 10k sats fee. Some users might not be in a rush so an option to specify feerates would be great. I believe in LND that's done with
-sats_per_byte

[2020-09-05 05:00] michaelWuensch commented on #159
@rootzoll
No, LNURL-Fallback is not yet supported.
Added to the todo list! :)

[2020-09-15 12:41] enorrmann commented on #157
I'm working on something similar, see reference

[2020-09-23 22:35] bota87 opened #256 "Use the node name as default for the wallet name"
What about to use the node name as default for the wallet name instead of the host name?
I think this make a lot of sense for who have an onion address in the host name.

[2020-09-24 06:44] michaelWuensch commented on #256
Hi @bota87,
thanks for your suggestion.
I have thought about this as well. The problem is the node name is not part of the lnd connect string and therefore not known in that phase.
The connection has to be successful before we can query the node name.
Now if we add a new wallet for example and there is some connection problem, it would have no name at all.

[2020-09-26 17:04] bota87 commented on #256
Hi @michaelWuensch,
I was sure there is a technical explanation behind this choice.
Could you think of using the url as a temporary name until the first connection could be a solution?
However this request is not that important so feel free to just close it

[2020-09-29 13:32] jetlagv1 opened #257 "LNURL is not working as expected"
LNURL from the satsback program by stekking.com won't go through when opened in zap on Android.

## Description
I've had two payouts and both were recognized from the clipboard by zap as soon as I opened the app but ended in an error saying LNURL is no longer valid.
The same LNURL did work in bluewallet so I'm using that now for payouts but it also confirms that it's not the LNURL but zap wallet t

[2020-09-29 18:31] michaelWuensch commented on #257
Thanks for the report!
"LNURL is no longer valid" sounds like that LNURL was already executed.
Just to be sure...
Did you first try Zap, then got the error message and then pasted the exact same thing into bluewallet and it worked?
Or did you do something in a different order? Or did you rerequest payout on stekking before trying bluewallet?

[2020-09-29 18:42] jetlagv1 commented on #257
I did exactly that. It would not go through using zap so I then tried
bluewallet and it went through straight away.
I have another LNURL from stekking.com that gives the same issue. I did not
yet try that one in another wallet to for testing purposes. I can either
give you the LNURL to try or I can wait for a while till the issue is
fixed. But I have to claim the payout withing 30 days.

On Tue, S

[2020-09-29 19:33] michaelWuensch commented on #257
@jetlagv1
Ok, strange.
If you could give me the LNURL that might help me to debug. If I get it to work and the payment goes through I will of course give you the money back.
Can you send the LNURL to michael90@protonmail.com?

[2020-09-29 21:05] jetlagv1 commented on #257
You've got mail..

[2020-10-03 10:55] michaelWuensch commented on #257
This is now fixed and will be released with the next version.
Thanks for reporting!

[2020-10-03 10:55] #257 closed

[2020-10-12 07:31] bmml1 opened #261 "Popup that says Orbot not installed"
##  Description

When trying to connect to my lnd node via tor a popup appears which states that Orbot is not installed even though it is.

## Expected Behavior

Connect to LND Node via tor with orbot in vpn mode.

## Actual Behavior

Popup with the above message. When canceling the popup there seems to be an endless "loading loop"

## Possible Fix

It worked with the release before. So there wher

[2020-10-13 07:25] michaelWuensch commented on #261
Hi,
Thanks for the report.

Did you just update Zap, or did you change anything else like updating lnd or your android version?
I didn't change anything regarding handling with tor in the last update. The only thing that might have an effect is that I increased the target sdk to 30.

Right now I am still running lnd v0.10.4
Hopefully I will find time on the weekend to update and investigate the is

[2020-10-13 08:20] bmml1 commented on #261
I recently updated all three.
Graphene OS release for Android 11 was maybe 2-3 weeks ago.
A few days ago I updated to lnd v0.11.1

A connection to Electrum hidden service still works(if that helps)

Let me know if I can help anyhow.

[2020-10-16 09:32] michaelWuensch commented on #261
Hi,
I was able to track it down. It was actually a combination of the Zap update and the Android update.
Increasing the target SDK to 30 caused the new package visiblity restrictions of Android 11 to kick in on Android 11 devices.
So the app can't see that Orbot is already installed on these devices.
I have fixed this now and will make a new release in the coming days.
Thanks again for the report!

[2020-10-16 14:32] #261 closed

[2020-10-25 17:45] michaelWuensch commented on #261
I just did a release, google play will update soon and if you do it manually, on github it is already available.

[2020-11-03 01:17] elvece opened #266 "Inconsistent Tor connection via Orbot"
Zap is frequently unable to connect to Tor by Orbot proxy. On my device, Orbot is configured in VPN mode and Zap is added to the Tor-enabled apps. Orbot is the only VPN / Tor service enabled on my device.

## Description

Approximately 95% of the time, I receive this error when starting up Orbot and connecting to Zap:

[code]

The noted points are fulfilled on my device. I receive this error almos

[2020-11-04 08:46] bmml1 commented on #266
Can confirm this issue.

Zap version: 0.3.5-beta, build: 2023
Android version: 11
Device: Google Pixel 3a
LND Version: 0.11.1-beta

[2020-11-15 20:17] cryptoteun opened #267 "Channel created via Lightning Pool mentioned as force closed in history"
## Description
I have ZAP Android wallet connect to my own lnd node ([link](https://1ml.com/node/020c5c96420bb2dddfd0a19d26bfa30f9e6335174c0ce3bd7754b852bb5cbe333a)).

Today I was experimenting with Lightning pool to get inbound capacity.
- An order was executed and channel ([721397275668250624](https://1ml.com/channel/721397275668250624)) was created
- This was via transaction ([636f1292fb11f8b82

[2020-11-21 15:59] ArbenKarb opened #268 "LNURL type "auth" not supported"
## Description

Unable to login to services having lnurl type "auth" enabled

## Context

Using Zap wallet as my primary wallet to control my homenode. Enabling lnurl type "auth" adds much utility

[2020-11-22 01:56] sangaman commented on #161
I'm a zap user and would like to see this as a priority. Without reproducibility it's not much different from closed source software.

[2020-11-26 12:47] Kixunil opened #269 "Missing support for BIP21 URI with lightning= parameter"
Zap does not appear to support BIP21 URIs with `lightning=` parameter.

## Description

According to LN standards `bitcoin:someaddress&lightning=invoice` is a valid string that allows for backwards-compatible QR code. However Zap does not support this. This leads to significantly degraded user experience. Recent implementation of this feature in BTCPayServer may increase popularity of this feature

[2020-11-26 19:02] michaelWuensch commented on #267
Hi there,
thanks for the report, that sounds odd. I will look into this.
Is it still displayed as force closed and still working?

[2020-11-26 19:06] michaelWuensch commented on #268
Yes,
lnurl auth would be cool, but last time I wanted to do it, I failed as the lnurl AUTH spec does not really work with lnd.
I will have to check if there is a solution now.

[2020-11-26 19:13] michaelWuensch commented on #269
Hi,
thanks for the issue! This will definetly take some effort to implement, especially the fallback stuff if it fails.
But I agree it would be a nice feature and I hope I'll find time to implement this soon. :)

[2020-11-26 19:17] michaelWuensch commented on #266
Hi,
I am sorry for the inconvenience.
Actually a lot of people have now requested a native TOR implementation.
I am right now looking into it. Hopefully I will be able to get it done within the app, so Orbot will no longer be needed.

[2020-12-03 13:30] mandelmonkey opened #274 "Give the option to add route hints / set private flag for invoices"
When creating an invoice we can flag the private flag and thus the invoice will not include route hints for private channels

## Description

A simple toggle when creating an invoice to let the user include route hints, I understand zap calls the LND make invoice rpc call, so it would just need to set ```isPrivate``` to 1 and LND will include route hints in the invoice

## Context

I use zap to co

[2020-12-04 05:36] ArbenKarb commented on #268
According to this list https://github.com/fiatjaf/awesome-lnurl

Thunderhub appears to leverage LND too and has auth enabled

[2020-12-05 10:26] michaelWuensch commented on #274
Hi, thanks for your feedback.
I think I'll go with the option in advanced settings, as most people won't need it.
Personally I think nodes with only private channels are a dead end for liquidity and lightning in general and should be avoided if possible.

[2020-12-05 10:35] michaelWuensch commented on #267
Hi,
I am so far unable to reproduce this.
All my test show newly created channels correctly in the history list.
Is there only shown one entry in your history list (force closed) for that channel, or are there shown two (opened channel & force closed channel)?

[2020-12-05 11:41] mandelmonkey commented on #274
For reference it's for a mobile node that has lnd running on android but
can't be a routing node as it doesn't have an open public IP address, they
use Zap as a way to connect to that node running on local host

On Sat, 5 Dec 2020, 10:26 Michael Wünsch, <notifications@github.com> wrote:

[2020-12-05 11:55] michaelWuensch commented on #274
@mandelmonkey I have created a PR for this now.
With this PR routing hints are enabled by default. You can disable them in the advanced settings.
Tested it on regtest and it worked.

[2020-12-05 12:02] mandelmonkey commented on #274
Awesome, thanks!

On Sat, 5 Dec 2020, 11:55 Michael Wünsch, <notifications@github.com> wrote:

[2020-12-05 12:02] cryptoteun commented on #267
It's indeed the only one showing.

The channel is closed at the moment via a cooperative close. So that worked fine as well.

[2020-12-05 12:47] michaelWuensch commented on #274
I just released a new version that includes this change.

[2020-12-05 12:47] #274 closed

[2020-12-05 12:47] #269 closed

[2020-12-05 13:10] mandelmonkey commented on #274
Great thanks for the quick turn around

On Sat, Dec 5, 2020 at 12:47 PM Michael Wünsch <notifications@github.com>
wrote:

[2020-12-05 17:08] githorray commented on #268
https://github.com/lightningnetwork/lnd/pull/4495

maybe lnurl-auth v2, lnd is not too hip on v1.

[2020-12-05 19:30] Kixunil commented on #269
Awesome, thanks for being quick to fix this!

[2020-12-06 09:45] typtyphus opened #278 "Channel capacity display mismatch"
## Description
Channel capacity values on Zap are not the same as the ones I created on my node.

My node:
![IMG_20201206_102044](https://user-images.githubusercontent.com/865676/101276759-6ba96480-37af-11eb-9d9a-55454438ee8f.jpg)

Zap:
![IMG_20201206_101953](https://user-images.githubusercontent.com/865676/101276760-6c41fb00-37af-11eb-91fb-f535cf6199f6.jpg)

##  Environment
- Zap version: 0.3.5-B

[2020-12-12 21:37] petrhejna commented on #266
The native Tor support would be amazing. :pray: I am using Orbot (as proxy) + Netguard (as VPN) and it is not working with Zap. The native Tor would solve the issue (i just whitelist Zap in Netguard).

[2020-12-13 17:42] michaelWuensch commented on #161
@Giszmo
Hi, I want to get this done now, but have problems to find out, what causes the differences.
If I do a fresh clone of the Source Repo and build a unsigned version with
$ ./gradlew assembleRelease
And right after that create again a unsigned version with:
$ docker run --rm -it --volume=$PWD:/mnt --workdir /mnt mreichelt/android:latest bash
root@84c836f4577a:/mnt# ./gradlew assembleRelease

[2020-12-13 19:33] Giszmo commented on #161
Hallo Michael!

Nice to hear you are working on this! So those two native libs are built in a non-deterministic way and there are several things that might cause this. I would check in this order:

* Do those libraries have dependencies that are not pinned to one specific version?
* Are the build tools pinned to a specific version?
* Try with disorderfs. Many projects process files in folders in t

[2020-12-13 20:50] michaelWuensch commented on #161
@Giszmo
Thanks for your help.
I found out, that both .so files are part of the QR-Code scanner library I used.
Luckily I have made a PR on a new QR-Code scanner library a long time ago but did not merge it, as it didn't really make a difference. With this library the app seems to be 0.6 mb smaller though and no longer has those .so files.
So I think the easiest way is to make some last improvement

[2020-12-13 21:11] petrhejna opened #279 "Privacy Concern: Zap wallet accessing 3rd party servers"
Zap is doing those calls:

![Screenshot_20201213-220957_NetGuard_1.png](https://user-images.githubusercontent.com/383295/102024074-fc73d780-3d8f-11eb-9204-ff8d5fda08b8.png)

And the wallet is NOT working when fulmo.org is disabled.

Why is the wallet doing that?

I am little bit worried, that wallet connected to my LN node is doing something like that.

I would expect that the only communication w

[2020-12-13 21:33] michaelWuensch commented on #279
Hi,
Thanks for your issue.
I can explain the blockchain.info call. This is to fetch current exchange rates.
But the fulmo thing, i have no Idea where that comes from.
I do not even know what fulmo.org is, so I definetly did not add a call like that on purpose.
And I don't think this is in any dependency either.

What node Setup do you have? A raspiblitz? When I go to fulmo.org there seems to be st

[2020-12-13 21:47] michaelWuensch commented on #279
What software did you use that shows this?
I would like to try if I can reproduce this on my device.

[2020-12-13 22:01] michaelWuensch commented on #279
Actually after googling I think this has something to do with Tor.
tondro01.fulmo.org seems to be a tor node.
Do you use tor to connect to your node?
If yes it would also make sense, why it doesn't work if you block it. You cannot block the Tor node you are connected to and expect it to work.
Please try to connect to another tor node and see if the address Zap tries to connect to changes.
If yes,

[2020-12-14 00:30] petrhejna commented on #279
Yes, I am running Raspiblitz and my node is behind Tor, but to make Zap work I had to use IP2TOR.

I had only IP, so I didn't know the domain is it. Sorry for confusion. I should have double checked it before.

---------

Thank you for clearing it. I would suggest do disable this by default. I have seen in settings that I can choose what source I will app use. Maybe this can be asked by app on the

[2020-12-14 00:31] #279 closed

[2020-12-14 08:51] michaelWuensch commented on #279
No problem,
better safe than sorry.

The blockchain.info call only queries the current exchange rate, it of course does not send any information about your balances or any other personal data with the exception of the ip.
If you want to disable this, you can select a bitcoin unit as second currency instead of a fiat currency. In this case no further exchange rate request will be sent.

[2020-12-14 09:46] michaelWuensch commented on #278
Hi,
the reason for this is that zap subtracts the commit fee.
To close a channel an on chain transaction has to be done. This transaction costs fees, which must be reserved.
On such small channels like in your example this is about half of the whole channel capacity.
I understand the confusion though and I am open for suggestions on how this can be improved.

Here is the reference in code:
https:/

[2020-12-14 17:58] typtyphus commented on #278
Thanks for clearing that up.

a suggestion, maybe have the closing transaction portion of the bar marked in red. I haven't tried to close a channel, but closing fees are depend on speed? Would it be possible for the closing portion to be adjustable?

I usually get things greyed-out when they are pending, you could go with that.

[2020-12-15 22:34] adamc199 opened #282 "Keysend payments in history"
I can no longer see keysend payments in my history on the latest release. Was this removed or am I missing something?

[2020-12-18 13:46] michaelWuensch commented on #282
Hi,
interesting. I actually haven't done anything to support keysend payments so far.
Sending a keysend payment with Zap Android is not yet possible.
I haven't tried to receive one either.
Keysend payement support is on the list though and one of the next things to be added.

I can't think of any changes in the latest updates that would affect the history list in any way. Is it possible that you a

[2020-12-18 16:59] michaelWuensch commented on #161
@Giszmo
I just released a new version (v0.3.8-beta) which should be reproducible. It will probably take some time until it is available on the playstore though. On github the release is already available.
Please note that it is now only one apk and no longer two. This will later change again though, when local LND is added.
Please let me know if it worked.

This should be the instructions you will

[2020-12-19 14:44] Giszmo commented on #161
Can you please elaborate?

Compilation is quick and works. I don't have the Google Play version yet though.

[2020-12-22 19:28] michaelWuensch commented on #161
@Giszmo
It is now available on google play as well. Hope it works and we have reproducible Zap for Christmas :)

I changed the QR-Code scanner library which removed the .so files. Appearently after that change the splitted apks were all identical, as there was no architecture specfic code anymore.
Google play even recognized all that apks as ABI "all". So I actually had to make it build a single o

[2020-12-22 19:37] Giszmo commented on #161
[Welcome in the top ranks](https://walletscrutiny.com/android/zapsolutions.zap/)!

That split part will make things complicated on my end as I don't have many channels to obtain binaries.  I will approve the rebuild for one of those, only and it will get a bit a pain to get all architectures to broaden the checks.

[2020-12-22 19:37] #161 closed

[2020-12-25 11:28] bmml1 commented on #249
@michaelWuensch This would be a nice feature. Does anything speak against it?

[2020-12-26 22:50] mandelmonkey opened #287 "Add the ability to flag channel as private when opening via lnurl channel"
Add the ability to flag channel as private when opening via lnurl channel

## Description

When opening a channel there is no option to flag the channel as private so the channel opens as public

## Context

Our users are using LND running on mobile devices which do not have public static ips, so all channels need to be private so route hints can be added. When using a service like bitrefills thor

[2020-12-31 06:09] t0msen76 commented on #266
Any news or workarounds with that? I still do have the same issue, too.

[2021-01-02 14:46] michaelWuensch commented on #249
@bmml1
No, nothings speaks against it just takes time to do it.
If anyone wants to make a PR I would be more than happy ;-)

[2021-01-04 02:40] Technifocal opened #289 "Outbound multipart payments"
## Description

Implement outbound multipart payments to allow `lnd` to split larger outbound payments into multiple parts.

## Context

As of current, Zap-Android outputs `Maximum Amount: ${largest_channel_local_balance}` and shows the invoice amount in red.

## Possible Implementation

Potentially add a `max_parts` configuration option into settings, or a configuration for each invoice.

[2021-01-10 15:23] michaelWuensch commented on #289
Hi Technifocal,
thanks for the issue. It is on my list for quite some time now and one of the next things to come, so stay tuned! :)

[2021-01-24 12:54] elkimek opened #298 "Allow to manually change Connection Data"
Allow to manually change Connection Data

In case of connecting to a port forwarded node manually changing the Connection Data is needed because the LND Connect generates a QR with original IP address. There is no way to easily change the IP to actual IP of the node.

[2021-02-02 11:37] michaelWuensch commented on #289
Multi path payments are done now and will be shipped with the next version!

[2021-02-03 18:22] michaelWuensch commented on #249
This is done now and will be released with the next version!

[2021-02-03 22:17] mandelmonkey commented on #287
Just wondered if this request has been seen and/or considered? thanks!

[2021-02-03 22:19] mandelmonkey commented on #274
It seems there is an edge case where the flag is not respected, when Zap receives an LNURL Withdraw Request and generates an invoice for it, it seems that the private flag is not being set?

[2021-02-04 10:39] michaelWuensch commented on #282
Hi, I am closing this issue now.
I am internally testing a new version, that has keysend support and all the keysend payments are shown there.

[2021-02-04 10:39] #282 closed

[2021-02-04 11:04] michaelWuensch commented on #287
Was doing a lot of other PRs lately. This will be one of the next, thanks for bringing up the issue.

[2021-02-05 08:09] michaelWuensch commented on #274
@mandelmonkey

Ah, thanks for pointing that out. I just included a fix in #308 which also makes all the private channel stuff available (when opening channels)

[2021-02-05 10:40] mandelmonkey commented on #274
@michaelWuensch amazing thanks!

[2021-02-13 11:24] michaelWuensch commented on #287
shipped with v0.4.0-beta

[2021-02-13 11:24] #287 closed

[2021-02-13 11:24] michaelWuensch commented on #289
shipped with v0.4.0-beta

[2021-02-13 11:24] #289 closed

[2021-02-13 11:24] michaelWuensch commented on #131
shipped with v0.4.0-beta

[2021-02-13 11:24] #131 closed

[2021-02-13 11:25] michaelWuensch commented on #249
shipped with v0.4.0-beta

[2021-02-13 11:25] #249 closed

[2021-02-13 11:27] michaelWuensch commented on #298
Thanks for your issue.
Yes that would definetly help in some situations. I'll see what I can do.

[2021-02-23 14:20] bmml1 opened #313 "Fee estimation when opening new channels"
## Description

When on the "opening a new channel view" the user has the option to chose between different fee options. (additionally: would it be possible to add an option to enter a manual fee?)

## Expected Behavior

Expected fee is displayed depending on user decission (slow,medium,fast)

## Actual Behavior

The estimation of the fee does not work and returns a n/A

## Possible Fix

## Steps

[2021-02-23 21:26] bmml1 commented on #313
Did not enter an amount so the estimate fee function failed. It works as expected.

[2021-02-23 21:26] #313 closed

[2021-02-27 21:09] bmml1 opened #314 "Issue connecting to proposed channel partner ZAP Technologies"
## Description

Hello,

this is not really a Zap-Android bug, but I thought that you might be in touch with the operator of the "Zap Technologies" lnd node.

When I first installed the app I opened a channel to Zap Technologies which was proposed when opening a new channel. The channel opened without a problem(some month ago). Since a couple of days/weeks(can't say for sure) the channel state swit

[2021-02-28 10:51] michaelWuensch commented on #314
@mrfelton
Do you know what is going on or which version the ZAP Technologies node runs?

[2021-02-28 10:52] michaelWuensch commented on #298
This is done now and will ship in the next version!

[2021-02-28 10:52] #298 closed

[2021-03-03 21:09] Geremia commented on #136
@IzzySoft Thanks for that. What's the status of its incorporation into the main f-droid repo?
<sup>([Antox](https://github.com/Antox/Antox) still isn't incorporated…)</sup>

Here's the QR for [his f-droid repo](https://apt.izzysoft.de/fdroid/):
![QR for IzzySoft's f-droid repo](https://apt.izzysoft.de/shared/images/fdroid_repo_qr.png)

[2021-03-04 00:40] IzzySoft commented on #136
@Geremia I don't know the status for each of the 4k apps at F-Droid – and whether which new app was already requested (RFP), has a merge request open, or is already in the build process :wink: But that can be checked in the corresponding repos if you wish. I don't know about that verification error either: the APK in my repo is properly signed. Maybe you had a modified version of the app installed

[2021-03-04 01:39] Geremia commented on #136
@IzzySoft Your most recent APK has a valid signature, but your most recent APK isn't in your repo.

[2021-03-04 11:16] IzzySoft commented on #136
@Geremia say what? https://apt.izzysoft.de/fdroid/index/apk/zapsolutions.zap lists the very same file as latest APK, and clicking the link I get the very same APK (I just verified). Besides, you couldn't get a "failed to verify" error on a non-existing file.

[2021-03-11 14:21] githorray opened #315 "Unable to unlock wallet with zap since lnd walletunlocker change"
See https://github.com/lightningnetwork/lnd/pull/4985

Running zap-android 0.4.0 beta

Zap error: "Access denied! The macaroon is invalid. [Retry]"

After unlocking the wallet with `lncli unlock` Zap works normally.

[2021-03-14 18:22] bitpaint commented on #266
I still do have the same issue, too.

[2021-03-18 01:37] Silarous opened #316 "Total balance is not correct."
## Description

Sats balance in the Android app doesn't match what is actually in my node.  It is showing almost 2,000,000 sats higher.

![Screenshot_20210317-202730_Zap](https://user-images.githubusercontent.com/56011055/111560219-0bd43980-8760-11eb-96ea-0f5f44ef2f6f.jpg)
![Screenshot_20210317-202427_Brave~2](https://user-images.githubusercontent.com/56011055/111560250-1db5dc80-8760-11eb-85ef-dc2

[2021-03-18 11:09] Silarous commented on #316
This was my mistake.  RTL doesn't count offline channels in the Balances section.  Had to add those channel balances manually and it does match Zap.

[2021-03-18 11:09] #316 closed

[2021-03-21 13:27] michaelWuensch commented on #315
Hi,
thanks for the issue. What version of LND are you using? The PR you linked to was merged only 10 days ago which means it is not yet included in the official releases.

[2021-03-21 15:04] githorray commented on #315
using master.

[2021-03-31 23:11] jaonoctus opened #317 "Payment failed: UNIMPLEMENTED HTTP status code 404"
I could not pay an invoice on the app.

## Description

[code]

## Steps to Reproduce

1. Access `BTCPayServer` via IPV4.
2. `Services` > `LND (gRPC server)`.
2. Scan the `QR Code` on `ZapWallet`.
3. Attempt to pay an invoice.

## Your Environment

- Zap version: _0.4.0-beta, build: 3027_
- Android version: _Android 11 API 30_
- Device: _Mi A3_
- LND Version: _0.11.0-beta_
- BTCPayServer version:

[2021-04-02 10:02] michaelWuensch commented on #317
Hi there,
thanks for the report.
You can help me track it down with some more information.
Before you send, what is displayed for the fee?
Is it a fixed value like 2 sats, or does it display something with the word "max"?

[2021-04-02 15:13] jaonoctus commented on #317
@michaelWuensch `n/A`

![image](https://user-images.githubusercontent.com/7918067/113428236-d1e47380-93ac-11eb-8d7e-655f8f42ed9e.png)

[2021-04-03 07:46] michaelWuensch commented on #317
Hm, okay
this means, the UNIMPLEMENTED error is caused by the SendPaymentV2 RPC call.
"UNIMPLEMENTED" normally comes if the RPC call is not available/implemented on the lnd node you are running.
The strange thing is that lnd 0.11.0-beta includes the SendPaymentV2. I tested it on regtest with 0.11.0 nodes and it worked.
I do not have (or ever used) a BTCPay setup though.

The change for the payment

[2021-04-03 16:06] jaonoctus commented on #317
@michaelWuensch the downgrade worked here. Thanks!

I'll try to upgrade the btcpayserver and LND later

[2021-05-04 08:19] yeru83 opened #321 "Play Store links broken"
## Description
Following links such as https://play.google.com/store/apps/details?id=zapsolutions.zap
from
https://zaphq.io/
leads to a "Not Found" error on Google Play.

## Expected Behavior

https://play.google.com/store/apps/details?id=zapsolutions.zap should get to the app download page.

https://zaphq.io/ should point to a working download page.

Searching "zap wallet" in Play Store should ge

[2021-05-22 15:29] kiwiidb commented on #274
Just wanted to say I think Zap Android wallet still does not include routing hints if you only have private channels.
- Connected to my Umbrel node
- 1 private channel, bought from Bitrefill
- Neither LNURL - withdraw nor manually created invoices seem to include routing hints
I am on the latest release from Play Store, 3/4/2021

[2021-05-22 16:05] michaelWuensch commented on #274
@kiwiidb
thanks for the notice, I will have a look at it again an test it.

[2021-05-22 16:10] michaelWuensch commented on #321
Hi there,
I cannot reproduce this. On my PC and on my Smartphone it works as expected and the links are not broken.
Have you tried it with your smartphone? Maybe it is unavailable as your smartphone does not have the minimum required Android version (Android 6.0 - Marshmallow).

[2021-05-22 16:39] kiwiidb commented on #274
Upon further testing it seems the issue is with LND and not with Zap.

[2021-05-23 09:17] kiwiidb opened #322 "Balance not updated after LNURL withdraw"
## Description
After a succesful lnurl-withdraw, the balance on the home screen is not updated.

## Expected Behavior
Balance on the home screen reflecting the new balance after lnurl withdraw.

## Actual Behavior

Balance on the home screen reflecting outdated balance after lnurl-witdhraw

## Possible Fix

## Steps to Reproduce

1. LNURL withdraw.
2. Inspect balance on home screen
3.
4.

## Conte

[2021-06-05 10:52] Kixunil commented on #266
Any progress on this? I know of two people who are unable to connect over Tor at all. Tor browser gives the expected error (connection reset - because HTTP is invalid, of course).

[2021-06-16 20:41] MrHash opened #324 "Invalid payment information error when scanning invoices from mobile wallets"
Trying to send to invoices in both Breez and Muun results in a "Invalid payment information" error. Invoice decodes correctly but Zap does not read them correctly

## Expected Behavior

Invoice should be read correctly

## Actual Behavior

Error message is presented saying "Invalid payment information"

## Steps to Reproduce

1. Generate an invoice in Muun or Breez
2. Scan QR in Zap

## Your Envir

[2021-07-02 16:54] michaelWuensch commented on #322
@kiwiidb
Thanks for the issue report. I will have a look at it for the next version.

[2021-07-17 04:22] bitznbrewz opened #334 "Cannot connect to LND on remote node"
## Description

Zap wallet is unable to connect to LND on my Umbrel node.  The node is fully synced, has several small channels opened, and is able to connect to the Zeus wallet.

Seems like there may be an issue with Orbot as the Zeus wallet has a built-in Tor implementation.  I think the app is unable to maintain connection to the Tor service.

## Expected Behavior

Expecting wallet balances and

[2021-07-17 10:24] #178 closed

[2021-07-17 15:33] #267 closed

[2021-07-17 15:38] michaelWuensch commented on #334
Hi,
thanks for your report.
Unfortunately Orbot often causes issues. Sometimes I just can't get it to work. What helps for me in this situation is to actually restart the phone (restarting Orbot and Zap is not enough). After that it works again for some days or weeks.

Integrating Tor natively is on the to do list, I hope this trick helps in the meantime.

[2021-07-17 15:40] michaelWuensch commented on #321
All the links you provided above work on my end.
I am closing this issue now as I am not able to reproduce this nor any other person mentioned this.
Feel free to reopen this issue if it still persists for you or if you have more information.

[2021-07-17 15:40] #321 closed

[2021-07-17 15:41] michaelWuensch commented on #324
@MrHash
Thanks for the report, I will see if I can reproduce this.

[2021-07-18 10:40] michaelWuensch commented on #322
@kiwiidb
hi I just tested it and it updated automatically. It took about 1 or 2 seconds after the success screen though. This is because the success screen depends on the answer of the communication between the lnurl service and your node, while the actual updating of the balance is constrained to the actual htlc taking place.
Which version of LND are you running? The automated updating based on h

[2021-07-18 10:58] michaelWuensch commented on #314
I have removed the suggested channel partner list from the open channel view, as it is no longer maintained.

[2021-07-18 10:58] #314 closed

[2021-07-19 06:40] pcwd opened #341 "On chain transaction fails if Fast fee option is selected."
When sending an on-chain payment using the Fast fee option, there is no fee estimate displayed, only N/A.  When you click send, you get "ERROR: unable to query fee estimator: conf target of 1 is too low, minimum accepted is 2" and the payment fails to send.

[2021-07-19 06:46] michaelWuensch commented on #341
@pcwd
Thanks for the report.
I actually never used high fees :D
I am wondering though if that was changed in an LND update as no one ever reported this so far.
I will have a look at it and fix it for the next release.

Which version of LND are you using?

[2021-07-20 07:03] michaelWuensch commented on #341
Interesting,
I just tested it on my lnd 12.1 node with fast and a fee was calculated without a problem. I didn't send though, as I didn't want to transact anyting.
I have had a look at the lnd code and the min for 12.1 and 13.0 is actually set at 2. So I don't understand, why this works on the 12.1 node.
But they actually now changed the minimum to 1 a few days ago, which was released in lnd 13.1

[2021-07-21 00:07] pcwd commented on #341
Oh, good.  Sometimes, you need to do a next block on-chain transaction.  I'm glad they've reverted back to 1.  Thanks for taking the time to look at this.

[2021-07-21 00:07] #341 closed

[2021-07-21 05:51] michaelWuensch commented on #341
You are welcome.
Please reopen the issue if the problem persists after an update to lnd 0.13.1

[2021-07-21 10:46] Relaxo143 opened #344 "Native Tor support"
The only reliable way to connect to a node remotely right now is over VPN. Orbot is buggy and drains the battery. Implementing native Tor support would be greatly appreciated.

[2021-08-01 22:18] michaelWuensch commented on #344
Hi,
I am working on it. This will be the main task for the next release.
Actually I just got it working a few minutes ago, I was able to connect to my tor node without Orbot.
Still lots to do though, like testing different devices, stability, settings, UI, etc.

[2021-08-09 21:17] Relaxo143 commented on #344
Great to hear! I can help with testing if needed. Just need the .apk

[2021-08-11 16:42] michaelWuensch commented on #344
Thanks,
if you want to test it and give feedback, you can build it yourself using the "nativeTor" Branch from my repo:
https://github.com/michaelWuensch/zap-android/tree/nativeTor

Considering the UX I am done I think. I still have to test reproducability though and add authentication with random passwords for the tor proxy.

[2021-08-15 21:02] majikaz commented on #266
I can reproduce this issue

Zap version: 0.4.2-beta, build: 3029
Android version: 9
Device: Huawei P20
LND Version: v0.12.1-beta

I have Zap added to my orbot exception list and I have VPN-mode enabled.  I am unable to connect Zap (android) through Orbot
I can only get Zap to connect on a "hit & miss" basis which is achieved via a full reboot of my handset device.
FYI: My Zap desktop wallet connec

[2021-08-15 23:18] Relaxo143 commented on #344
@michaelWuensch Built and tested on Android 11. The integration seems to be working, connected to my node successfully and also sent a test payment. The TX history needs to be manually refreshed however, probably because of the longer time needed to connect.
On a side note, it's impossible to connect by scanning a QR. They are simply too big. Not sure if there's something that can be done about it

[2021-08-16 07:58] michaelWuensch commented on #344
@Relaxo143
Thanks for testing and glad to hear it is working!
In regards to the history refreshing issue. When do you have to refresh it exactly? After you did the transaction or right after opening the app? A more detailed description would help me to track it down.

QR Code scanning problem:
This depends on a lot of things.
- Some phones can scan these dense codes, others can't (both using Zap A

[2021-08-16 08:04] michaelWuensch commented on #266
@majikaz
Yes, there are updates. Native Tor implementation is nearly done and will be rolled out with the next update in the coming weeks.
Please have a look at #344 for more details.

[2021-08-16 12:16] Relaxo143 commented on #344
@michaelWuensch Right after opening the app. After transactions, it updates automatically, but only if I've refreshed it manually after startup. I've seen this issue long before this Tor upgrade, when on a slow connection, so it's not causing it directly, but since Tor can slow down the connection time often enough I thought I'd mention it.

I am using mynode and I think they do include certs. Cou

[2021-08-21 13:10] michaelWuensch commented on #344
I have just released v0.5.0-beta which includes native Tor support.
This should solve the Tor connection issues.
If there are still problems after the update, feel free to open a new Issue.

[2021-08-21 13:10] #344 closed

[2021-08-21 13:10] michaelWuensch commented on #334
I have just released v0.5.0-beta which includes native Tor support.
This should solve the Tor connection issues.
If there are still problems after the update, feel free to open a new Issue.

[2021-08-21 13:10] #334 closed

[2021-08-21 13:11] michaelWuensch commented on #266
I have just released v0.5.0-beta which includes native Tor support.
This should solve the Tor connection issues.
If there are still problems after the update, feel free to open a new Issue.

[2021-08-21 13:11] #266 closed

[2021-08-23 08:23] mikkoc opened #356 "Cannot connect after upgrade to 0.5.0"
## Description

Cannot connect after upgrade to 0.5.0

## Expected Behavior

Should be able to connect as normal.

## Actual Behavior
The following error is shown:

`The node is reachable but returns an internal error. This error might be caused by using a wrong port.`

## Possible Fix

Downgrade? Have not tried yet.

## Steps to Reproduce

Upgrade to 0.5.0 and try to connect to the existing clear

[2021-08-23 12:20] michaelWuensch commented on #356
@mikkoc
Thanks for the issue report.

Have you tried to turn of Tor in the settings? Maybe this already fixes your issue.
If that doesn't work downgrading should definetly work. You can download the older apks directly here from github in the release section.

I will have to look into wireguard (never used it so far) and see I can get it working.

Please let me know if switching of Tor in the sett

[2021-08-23 12:48] mikkoc commented on #356
Ah, disabling Tor from the settings does solve the issue indeed, thanks!

[2021-08-23 13:40] #356 closed

[2021-08-24 20:06] bezysoftware commented on #266
Just wanted to let you know it works perfectly! Orbot was extremely unstable on my Pixel 5, but now Zap works like a charm :)

[2021-08-25 06:58] michaelWuensch commented on #266
@bezysoftware
Awesome, so glad to hear its working for you guys! :)

[2021-09-14 12:32] majikaz commented on #266
Tested Zap on Android connected to my rpi 4 8GB Umbrel Node Ver: 4.0.2

Device:          Huawei P20 Lite
Build No.       9.1.0.378(C782E8R1P7)
EMUI:            9.1.0
Android Ver: 9

Works Like a charm.. Great job TY

[2021-09-17 19:31] BabyDino commented on #317
I have the same issue as described.

Zap version: 0.5.1-beta, build 3031
lnd version: 0.13.1-beta
BTCPayServer: 1.2.3.0

I do use a reverse proxy in front of BTCPayServer (nginx), could this be the issue?

[2021-09-18 00:47] dipunm opened #362 "QR reader should support http links"
## Description
In light of how some will show their receipts, being able to follow a http link may be necessary.

## Context
An example is McDonalds in El Salvador. They provide a QR code which takes you to a site which provides the LN QR code.

## Possible Implementation

[2021-09-18 07:08] michaelWuensch commented on #362
Thanks for your suggestion @dipunm !
Can you please describe why apps like Zap should support this flow?
It sounds counterintuitive to me to support a flow that makes it necessary to scan 2 QR Codes instead of one.
What is the benefit for the user in this flow and what is the benefit for the company in this flow?
If there are no benefits then McDonalds should change their flow.

[2021-09-19 12:15] vindard opened #363 "No-amount-invoice error message is misleading"
## Description

When trying to pay a no-amount invoice the error message received is:

This is misleading and confusing since it suggests there is some error in the request itself and not just a business logic rule failure.

I came across this issue and thought there was a problem with the other person's wallet. I only found the problem through a mix of:
- manually decoding the invoice to double-c

[2021-09-19 12:44] vindard commented on #363
I just found a similar issue/fix across in the Zap-Desktop repo: https://github.com/LN-Zap/zap-desktop/pull/3385

[2021-09-27 06:37] michaelWuensch commented on #363
Thanks again for the issue and PR, this is merged now, so I will close it.

[2021-09-27 06:37] #363 closed

[2021-09-27 06:39] michaelWuensch opened #367 "Lightning Address Support"
## Description

Support for email like addresses to improve user experience.
https://lightningaddress.com/

[2021-09-28 13:04] x1ddos commented on #324
I suspect it might be due to this lline: https://github.com/LN-Zap/zap-android/blob/7751f315/app/src/main/java/zapsolutions/zap/lnurl/pay/LnUrlPayBSDFragment.java#L412. Setting a non-zero amount works, for me at least. I didn't look at the logs though, just a hunch.

Also, unclear why there's a payment amount enforcement at https://github.com/LN-Zap/zap-android/blob/7751f315/app/src/main/java/zaps

[2021-09-28 13:25] MrHash commented on #324
Let's call @michaelWuensch for feedback

[2021-09-28 19:07] michaelWuensch commented on #324
@x1ddos
Thanks for your input!
The first question I have is for @MrHash: Did you talk about lnurl payments as well or did you talk about normal ln invoices being payed?

In regards to invoices without a defined amount, thats true, Zap Android does not support them because of security concerns associated with them.
I actually merged a PR (#364 ) a few days ago which now shows an explicit error mess

[2021-09-28 19:15] michaelWuensch commented on #324
Actually when I think about it in the Lnurl pay flow there should not occur any 0 sat invoices. The wallet user is communicating an amount to the LNService which then sends him a ln invoice requesting that amount.
Do I miss something?

[2021-09-29 07:16] x1ddos commented on #324
Oh, right. I thought we were taling about the [BOLT 11](https://github.com/lightningnetwork/lightning-rfc/blob/master/11-payment-encoding.md) spec, not LNURL. This is what I tried in https://github.com/LN-Zap/zap-android/issues/324#issuecomment-929189671. In it, the amount is optional.

So, I would've expected the app to follow a spec in which the payment request / invoice was encoded in. What do

[2021-09-29 07:54] michaelWuensch commented on #324
@x1ddos
Bolt11 is used in lnurl pay as well.
I guess you most likely just quoted the wrong code lines. Maybe you wanted to quote this?
https://github.com/LN-Zap/zap-android/blob/7751f31543828c0957d521ea757105550dacf1b9/app/src/main/java/zapsolutions/zap/util/InvoiceUtil.java#L207
That is where the 0 sat invoice check happens on the normal (non lnurl pay) flow.

[2021-09-29 08:00] x1ddos commented on #324
Absolutely. My links were completely off. Thanks for clarifying :+1:

[2021-09-30 21:52] michaelWuensch commented on #278
Advanced channel details were added in the last release (#360 )
This should explain it and help to understand what is going on.

[2021-09-30 21:52] #278 closed

[2021-09-30 21:57] michaelWuensch commented on #322
I cannot reproduce it and I didn't get an answer which lnd version you used. I am closing the issue now.
If you still have that problem, feel free to reopen the issue.

[2021-09-30 21:57] #322 closed

[2021-10-01 01:15] Dayrook commented on #317
Issue is present with  BTCPAYServer v1.2.4.0
(Zap & LND same as BabyDino)

Confirmed working with Zap v0.3.8-beta

[2021-10-02 09:30] michaelWuensch commented on #324
Ok, @MrHash can you confirm that it is working with invoices form Breez or Muun that specify a value?

[2021-10-02 21:43] #367 closed

[2021-10-04 10:13] MrHash commented on #324
Yeh can confirm, a 0 sat invoice from Phoenix wallet fails, but a 1sat invoice is recognized.

[2021-10-04 18:17] michaelWuensch commented on #324
@MrHash
Ok, then this issue is already fixed by the 0.5.2-beta release. It should roll out as soon as google store approves it.
Please note, that 0 sat invoices will still not work, but you will at least get a decent message.

[2021-10-04 18:17] #324 closed

[2021-10-05 19:40] michaelWuensch commented on #317
Hey guys,
now that 3 of you are affected, I can at least see a pattern.
It seems to be definetly related to using Zap with BTCPAYServer.
But unfortunately I still have no clue so far why this happens.

[2021-10-21 05:29] michaelWuensch commented on #315
Yes, I haven't fixed that one yet. For now you have to unlock manually or with a different app.
This will be fixed in the next release.

[2021-11-08 22:21] Rothschildiuk opened #382 "I can't send Bitcoin to my muun wallet"
![Screenshot_20211108-231702](https://user-images.githubusercontent.com/15833131/140827426-87856790-0897-4efc-8062-f179b78961ba.png)

[2021-11-09 08:34] michaelWuensch commented on #382
@Rothschildiuk
Hi,
Zap Android is just a remote control for your LND node. The error that is displayed tells you that your node is not able to find a route for the payment.

This can happen for payments with large amounts or when your node isn't well connected.

How many open channels do you have?
If you have just one for example it might also be that the channel peer was offline while you tried t

[2021-11-09 17:13] Rothschildiuk commented on #382
I have opened 12 channels.
I can send Satoshi to my blue wallet, and then to muun wallet, but not directly to muun.
I try this last month more than 5 times.

[2021-11-09 17:20] michaelWuensch commented on #382
That seems strange.
Have you already tried to send directly to muun with your node but without a different app?
like Zap desktop, Zeus, from cli or any other interface?
If that would work then it would be indeed a problem with Zap Android.

[2021-11-09 20:14] Rothschildiuk commented on #382
Zeus have the same issue.:(

[2021-11-09 20:14] #382 closed

[2021-11-10 18:51] setpill opened #383 "Cannot connect to LNURL onion host"
## Description

I have a `lnd` backend only reachable through the local network. In order to use it I turned off routing all traffic through tor. When I try to open a LNURL link that is hosted via tor, it gives an error. The host is reachable through tor browser.

## Expected Behavior

It connects to and fetches the LNURL details from the server over tor.

## Actual Behavior

"[tor address].onion

[2021-11-18 09:26] BlackRaven10101 opened #384 "YES"
Bloomberg's ChristopheHGarcA

[2021-11-18 09:30] michaelWuensch commented on #384
What?

[2021-11-18 09:30] #384 closed

[2021-11-20 13:36] michaelWuensch commented on #383
Thanks for the issue.

This is quite complex to change though and it would make the user interface more complicated.
I will think about it.
But I think that is actually an edge case. Zap Android is there to enable you access to you r node on the go, it doesn't make much sense to only use it at home except for testing.

[2021-11-21 15:26] zenonasz opened #385 "Getting = Cannot read property 'unlockWallet' of null when trying to connect to my lnd note"
## Description

I have setup a btcpay server with lnd and ride the lighting.
i have funded the onchain and without establishing and funding any new channels for outbound, I am trying to connect zap.

## Expected Behavior

Without performing the same workflow before, it was supposed to connect zap wallet to lnd without asking for wallet password as the video below.
https://www.youtube.com/watch?v=y

[2021-11-21 16:08] #385 closed

[2021-11-21 16:08] zenonasz commented on #385
wrong repo, sorry

[2021-11-23 06:26] sangaman opened #386 ""unable to find node" from GetNodeInfo"
## Description

Every time I open up Zap on my phone, my lnd server logs show several dozen lines all reading `[ERR] RPCS: [/lnrpc.Lightning/GetNodeInfo]: rpc error: code = NotFound desc = unable to find node`. The behavior is consistent. I suspect Zap is using this call incorrectly.

## Your Environment

- Zap version: 0.5.2-beta build 3032
- Android version: 12
- Device: Google Pixel 4a 5g
- LND

[2021-11-23 08:14] michaelWuensch commented on #386
Hi,
this happens because Zap Android goes through all channels (open, pending and closed) on startup. It then extracts the node pubkey and then makes a getNodeInfo call.
We do this to gather Node Aliases. This allowes us to show something like "Closed channel with Wallet of Satoshi" instead of "Closed channel with e327f..."

As we also include closed channels it is possible that the node the chann

[2021-11-23 15:51] sangaman commented on #386
Thanks for the response!

I believe that `GetNodeInfo` only fetches information for nodes with whom we have channels, per this issue https://github.com/lightningnetwork/lnd/issues/4289. In that case, I figure Zap should not be making this call for closed channels.

I figure I must have a decent number of closed channels which is why I get so many entries in the logs. It's worth noting, however, th

[2021-11-24 07:29] michaelWuensch commented on #386
GetNodeInfo can fetch the info of nodes in your channel graph. You don't have to have a channel with a node though to have it in your channel graph. Anyway, I think caching is a good idea.
I will remove looking for closed channel peers completely and just cache peers with open channels.

[2021-11-28 00:39] sangaman commented on #386
Interesting, and the channel graph should include closed channels? I wonder if my behavior might be due to some issues I had with a corrupted database in the past and needing to do some channel recovery.

Awesome, I would be glad to help test or try this out. Or just confirm it's behaving as expected once it's in a release to the app store.

[2021-12-01 12:28] Dbinutu opened #391 "could not fetch configuration from btcpay server"
When scanning QR code for wallet setup on btcpay server, I get this error

## Description
In BTCPAY Server under LND GRPC service, I can see that Zap is under the compatible wallets, however when I scan the QR code I get that error.

## Expected Behavior
Connect zap to the lnd

## Actual Behavior
Error : could not fetch configuration from btcpay server

## Your Environment
Zap Android

[2021-12-03 13:04] michaelWuensch commented on #386
This should be fixed now with the new release. Feel free to reopen it if you still have problems.

[2021-12-03 13:05] michaelWuensch commented on #315
This should be fixed now with the new release (0.5.3-beta). Feel free to reopen the issue if you still have problems.

[2021-12-03 13:05] #315 closed

[2021-12-03 13:07] michaelWuensch commented on #391
Have you already tried to disable tor for the connection process?
Please turn it off in the apps settings and see if this helps. You can probably turn it on later if it worked.

[2021-12-03 13:55] Dbinutu commented on #391
That was absolutely right on! Its connected fine now, thank you very much. One final question, can I connect multiple android wallets to that BTCPAY Server instance using the same QR code ?

[2021-12-03 14:01] michaelWuensch commented on #391
Awesome. Then it is most likely cloudflare again blocking requests originating from the Tor Network. Maybe I should add a hint to the error message that this can be the problem.

Regarding to your question, yes you can. Zap Android is just like a remote control. All important things still happen on the node it self.

[2021-12-03 14:37] Dbinutu commented on #391
A hint to the error message would be great. Thanks for your help. Best Regards.

[2021-12-06 00:53] sangaman opened #396 "Zap suddenly crashing every time it starts"
## Description

Zap does not start. It shows the loading page and then immediately closes. This behavior persists through clearing the app storage/cache and through uninstalling and reinstalling zap. Zap worked for me on the same phone as of a few days ago.

## Your Environment

- Zap version: 0.5.3-beta
- Android version: 12
- Device: Google Pixel 4a 5g
- LND Version: 0.14.1-beta

[2021-12-06 01:21] pcwd commented on #396
Not starting on my Pixel 5 either.  I also have Android 12 and LND v 0.14.1-beta.

[2021-12-06 01:46] hazrulnizam commented on #396
Same here. Crashes on startup. My environment as follows:

- Zap version: 0.5.3-beta
- Android version: 12
- Device: Samsung Galaxy S21
- LND version: 0.14.1-beta

I uninstalled and reinstalled 0.5.2-beta via apk to recover functionality. Also turned off auto-update on Play Store just to be safe.

[2021-12-06 07:29] michaelWuensch commented on #396
Hey guys,
Thanks for the feedback.
I think this only happens on Android 12, at least all of you use Android 12 so far.
I'll try to fix this as fast as possible.
In the mean time you can downgrade manualy by downloading 0.5.2 Apk from github releases and disable the auto update.

[2021-12-06 08:39] michaelWuensch commented on #396
I just made a new release (0.5.4-beta). It is not live yet on google play though.
Can someone download this release from github and confirm if it works? I have no Android 12 device to test.

[2021-12-06 08:44] hazrulnizam commented on #396
I tested 0.5.4-beta apk on my Android 12. It works!

[2021-12-06 08:44] pcwd commented on #396
Yep 0.5.4.beta works on my Pixel 5 with Android 12.

[2021-12-06 08:46] michaelWuensch commented on #396
Thanks guys! Then I'll release on google play as well :)

[2021-12-06 15:46] sangaman commented on #396
Confirmed that 0.5.4 works for me, thanks!

[2021-12-06 15:46] #396 closed

[2021-12-06 16:09] sangaman commented on #386
I can confirm this behavior is resolved in the latest release. Also the "Unnamed" channel peers immediately upon startup is resolved. Much appreciated!

[2021-12-08 21:13] dipunm commented on #362
It's an interesting conundrum. If you support this, then the wallet gets a bit more complicated but is also more user friendly. If you don't, then people may work around it, or may look for an alternative app that does support it.

I've seen this work on Breez wallet, it tells you "hey this is a website, click here to visit it.". That's a good UX IMO.

McDonalds in El Salvador isn't changing this

[2021-12-11 03:32] hazrulnizam commented on #386
This does give rise to another issue, the app now doesn't reflect changes to a peer's alias. I had one new peer who originally did not have an alias but after it updated its alias, even after a few days Zap still shows the node as Unnamed.

I had to clear app data and re-setup the connection from the app to my node for it to register the new alias.

[2021-12-11 15:54] michaelWuensch commented on #386
@hazrulnizam
Thanks for the report. You are right, it does not update once cached aliases now... I will fix this in the next version and will make it to update the cache once per day or so.

[2021-12-11 16:34] michaelWuensch commented on #362
Hi, thanks again for your suggestions!
I have now added this functionality in this PR #399.
This will be in the next release.

[2021-12-21 04:25] varunagym commented on #317
To add: just tried with iPhone Zap Wallet and it worked flawlessly (from setup to sending/receiving). So, this is probably related to Android implementation and not anything on server side. My hunch is that is has something to do with not properly fetching the configuration. It fails through QR code, it also fails with config link and only sort of works via full config copy/paste. What I mean is,

[2022-02-08 13:27] bitpaint opened #405 "Bump verions on the "Downloads" page"
Hey, all the "versions" seems to be incorrect on the download page, maybe it's time for a bumb.

![image](https://user-images.githubusercontent.com/67663265/152996411-2490a0c4-ddd7-437b-b72d-1542621f2c11.png)

[2022-02-08 13:34] bitpaint commented on #136
+1 on this, having Zap on F-Droid would be positive.

[2022-03-07 16:09] jkaldon opened #406 "Address shown on Zap transaction page is what? It's not my wallet address?"
I recently sent a significant amount of money to the address listed on the transaction history.  It's truly unclear what that address is or how it relates to me...but it's definitely not my on-chain btc wallet address.  Unfortunately, I didn't catch this myself because the address shown here was very similar to my actual btc wallet address.

It may not be a bug, per-say, but it really screwed me a

[2022-03-07 17:37] michaelWuensch commented on #406
@jkaldon
Hi, thanks for your report and really sorry for the issue.
I am a little bit confused. The screenshot looks like it is from Zap Desktop, not Zap Android.

To find the issue and help you, I need the information from the fist transaction that generated the History entry and from the second transaction that got send to the unknown address.
Do you have the transaction IDs?
If you want to do t

[2022-03-07 19:50] jkaldon commented on #406
Sorry for the confusion... but, yes, the problem exists in both the desktop and android apps.

I went to Zaphq.slack.com, but it doesn't let me sign up.  When I log in, it offers to sign me into my other slack channels.  Sorry, I haven't used slack in a couple of years.  Do I need an invite?

[2022-03-07 20:20] michaelWuensch commented on #406
@jkaldon
Hm, I am not the creator of that Zap Slack space and also not that experienced with slack....
Maybe it is easier if we do it by mail. I just created a new e-mail address you can use to contact me, as I don't want to post my official one :)
michaelprivatesupport@protonmail.com

[2022-03-20 11:03] michaelWuensch commented on #406
This is now fixed in v0.5.6-beta.

[2022-03-20 11:03] #406 closed

[2022-04-12 16:59] sangaman opened #411 "Allow sending payment before fee estimation completes"
## Description

A semi-recent feature with Zap is that when you go to pay an invoice, it first calculates and displays an estimated fee. While this calculation is happening, the UI "spins" and doesn't let you actually submit your payment request until the estimation completes. Often this can take a while, as I'm guessing Zap/lnd are querying routes and making rpc calls behind the scenes.

Rather t

[2022-04-17 22:46] Rothschildiuk opened #412 "Host cannot be resolved...."
I have last umbrel Ln node, and today I received the following error message.

Host (*****.onion)
cannot be resolved,
Please update your wallet connection settings if your node is now reachable under a different address or hostname.

- Zap version: 0.5.6-beta
- Android version: 12
- Device: Google Pixel 5
- LND Version: v0.14.2-beta

[2022-05-03 18:20] dkuhman opened #413 "Searchable Deposits by Routing Number"

[2022-05-03 18:21] dkuhman opened #414 "Searchable Deposits by Routing Number"

[2022-05-03 18:22] dkuhman opened #415 "Searchable Deposits by Routing Number"

[2022-05-03 18:23] dkuhman opened #416 "Searchable Deposits by Routing Number"

[2022-05-03 20:23] dkuhman opened #417 "Searchable Deposits by Routing Number"

[2022-05-03 20:24] dkuhman opened #418 "Searchable Deposits by Routing Number"

[2022-05-06 14:35] michaelWuensch commented on #413
Uhm, you have spammed the repo with the same issue 6 times without providing any description.
I do not even understand what you mean by "Searchable Deposits by routing number".

I will close all of your issues now.
If you want to see an improvement in the app, please take the time and create an issue that is described properly.

[2022-05-06 14:35] #413 closed

[2022-05-06 14:35] #418 closed

[2022-05-06 14:35] #417 closed

[2022-05-06 14:35] #416 closed

[2022-05-06 14:35] #415 closed

[2022-05-06 14:35] #414 closed

[2022-05-06 14:38] michaelWuensch commented on #411
Thanks for the issue.
I will consider it. But most likely it does not speed it up that much. When doing the fee estimation, it will actually do path finding. When sending, it actually uses the previously discovered path. So while you could hit send a little bit earlier, the sending process itself would take longer.

[2022-05-06 14:40] michaelWuensch commented on #412
Hi,
did it work before?
If yes, did an update of Zap or an update of umbrel break it?
I am using it myself with umbrel without problems.

[2022-05-06 15:02] sangaman commented on #411
If I undersrand correctly then, it's querying for a route and then trying to pay to that route? If the route fails, would it then have to start the process over or does lnd automatically try other routes if the provided route fails?

I might look into the code myself. All I know is that my experience recently across several payments to various recipients is that I have to wait much longer for the

[2022-05-07 09:05] michaelWuensch commented on #411
It is actually not querying a route using a query route command, it is doing a so called "payment probe". This is basically a complete payment but with faked payment hash. Therefore that payment will fail in the end, but we know afterwards a possible route and exactly what the fees are and display those fees to the user.  We then use that information to construct a payment that will exactly take t

[2022-05-23 04:46] neocarmack commented on #12
Most users want this feature.

Does zap Android now support neutrino on mobile now?

[2022-06-05 13:34] ybaidiuk commented on #412
umbrel 14.18
Zap version: 0.5.6-beta

Same issue.
Yes it worked before well.
get "Host cannot be resolved" and "connection failed"

[2022-06-05 13:39] ybaidiuk commented on #412
I restarted umbrel and now it works...

[2022-06-23 18:22] 151henry151 commented on #268
Would love to see support for [lnurl-auth](https://lightninglogin.live/learn). Our users at [plebeian.market](https://plebeian.market/login) (lightning-powered auction site), and many other sites are using it for login, like [Stacker News](https://stacker.news/). Read more about lnurl-auth [here](https://fiatjaf.com/e0a35204.html).

[2022-07-01 22:27] nahuhh commented on #136
Bump. Though I don't use bitcoin, we need more Foss, reproducible wallets in f droid proper

[2022-09-10 21:43] Bladez1753 opened #420 "https://github.com/LN-Zap/zap-android/pull/408#issuecomment-1242808834>"
https://github.com/LN-Zap/zap-android/pull/408#issuecomment-1242808834

_Originally posted by @Bladez1753 in https://github.com/LN-Zap/zap-android/issues/408#issuecomment-1242808929_

[2022-10-01 15:39] serrq opened #421 "Mobile standalone Zap app as full Bitcoin node"
Mobile app as full node

## Description

From an energy and computational perspective, would it be possible to create a standalone (Android/iOS) app that acts as a full node on a mobile platform?

## Context

Because people already have a smartphone while doesn't have competence to manage a (hardware) server.

## Possible Implementation

[2022-10-01 18:59] serrq opened #422 "Excessive energy consumption"
This morning, while trying the app I found that for about 11 minutes of use an energy consumption of 88mah was recorded. Far too many if we consider that a mp3 player consumes about 55~100mah/hour.

I didn't even initiate a node synchronization:
I just explored the app and launched the scanner (camera) a couple of times to detect a qr code (which I never scanned).

How is this possible? Can anythi

[2022-10-03 06:46] serrq opened #423 "Unified QRs for Bitcoin (BIP21 + BOLT 11/12)"
A single approach to two ways payment request.
No more split tab for on chain and lightning invoice but one only request with both codes within.

More informations:

https://bitcoinqr.dev/

[2022-10-03 07:41] #421 closed, assigned to nobody

[2022-10-21 07:38] michaelWuensch commented on #423
@serrq
Thanks for the suggestion.
Reading BIP21 QR Codes with a lightning invoice is already supported for quite a while now.
I think it might be to early though to only create unified QRs as still some wallets do not support it and it would force all those wallets to send on chain or being incompatible completely.

[2022-10-21 07:42] michaelWuensch commented on #422
Thanks for making me aware of that.